In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# /Users/chriswesterman/Library/Jupyter/nbextensions/snippets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import beatthebookies.data as btb
import sqlite3

pd.set_option('display.max_columns', 500)

# Exploratory notebook

In [56]:
matches = btb.get_data()

get_data 8.14

In [57]:
matches.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,home_w,away_w,draw,home_t_home_goals,home_t_home_goals_against,home_t_home_wins,home_t_home_losses,home_t_home_draws,away_t_away_goals,away_t_away_goals_against,away_t_away_wins,away_t_away_losses,away_t_away_draws,home_t_away_goals,home_t_away_goals_against,home_t_away_wins,home_t_away_losses,home_t_away_draws,away_t_home_goals,away_t_home_goals_against,away_t_home_wins,away_t_home_losses,away_t_home_draws,bups_x,bupp_x,ccp_x,ccc_x,ccs_x,dp_x,da_x,dtw_x,bups_y,bupp_y,ccp_y,ccc_y,ccs_y,dp_y,da_y,dtw_y
0,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47,47,49,45,47,48,50,62,63,54,60,48,38,35,44,54
1,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,67,36,41,34,44,39,41,46,45,42,34,36,55,31,47,42
2,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,43,40,39,33,63,52,58,59,61,52,54,42,45,38,52,45
3,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,63,60,47,64,46,58,65,55,43,51,59,50,55,47,45,49
4,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38,44,49,44,40,54,53,56,47,40,41,41,63,63,54,56

In [3]:
sql_path = '../data/'
database = sql_path + 'database.sqlite'
conn = sqlite3.connect(database)

In [24]:
df = pd.read_sql("""SELECT m.id,
                        m.season, m.stage, m.date,
                        ht.team_long_name as home_team, at.team_long_name as away_team, m.home_team_goal,
                        m.away_team_goal, m.home_team_api_id as home_api, m.away_team_api_id as away_api
                        FROM Match as m
                        LEFT JOIN Team AS ht on ht.team_api_id = m.home_team_api_id
                        LEFT JOIN Team AS at on at.team_api_id = m.away_team_api_id
                        WHERE league_id = :league AND season != :season
                        ;""", conn, params={"league":1729, "season":'2008/2009'})

In [25]:
df.shape

(2660, 10)

In [26]:
df.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,home_api,away_api
0,2109,2009/2010,1,2009-08-16 00:00:00,Manchester United,Birmingham City,1,0,10260,8658
1,2110,2009/2010,1,2009-08-16 00:00:00,Tottenham Hotspur,Liverpool,2,1,8586,8650
2,2111,2009/2010,1,2009-08-15 00:00:00,Aston Villa,Wigan Athletic,0,2,10252,8528
3,2112,2009/2010,1,2009-08-15 00:00:00,Everton,Arsenal,1,6,8668,9825
4,2113,2009/2010,1,2009-08-15 00:00:00,Wolverhampton Wanderers,West Ham United,0,2,8602,8654

In [21]:
stats2 = pd.read_sql("""Select * from Team_Attributes""", conn)
stats2.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,60,Normal,65,Normal,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,70,Risky,70,Lots,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,53,Normal,48,Normal,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [44]:
stats2.buildUpPlayPositionClass.unique()

array(['Mixed', 'Long', 'Short'], dtype=object)

In [23]:
h_stats = pd.read_sql("""Select * from Team_Attributes""", conn)
a_stats = pd.read_sql("""Select * from Team_Attributes""", conn)
h_stats['date'] = pd.to_datetime(h_stats['date'])
h_stats['year'] = pd.DatetimeIndex(h_stats['date']).year
season_maps = {2010: '2009/2010', 2011: '2010/2011', 2012:'2011/2012',
             2013:'2013/2014', 2014: '2014/2015', 2015:'2015/2016'}
h_stats['season'] = h_stats['year'].map(season_maps)
h_stats = h_stats[['season', 'team_api_id', 'buildUpPlaySpeed']]

a_stats['date'] = pd.to_datetime(a_stats['date'])
a_stats['year'] = pd.DatetimeIndex(a_stats['date']).year
season_maps = {2010: '2009/2010', 2011: '2010/2011', 2012:'2011/2012',
             2013:'2013/2014', 2014: '2014/2015', 2015:'2015/2016'}
a_stats['season'] = a_stats['year'].map(season_maps)
a_stats = a_stats[['season', 'team_api_id', 'buildUpPlaySpeed']]

In [12]:
h_stats.head()

      season  team_api_id  buildUpPlaySpeed
0  2009/2010         9930                60
1  2014/2015         9930                52
2  2015/2016         9930                47
3  2009/2010         8485                70
4  2010/2011         8485                47

In [27]:
h_stats[h_stats['team_api_id'] == 10260 ]

        season  team_api_id  buildUpPlaySpeed
806  2009/2010        10260                70
807  2010/2011        10260                65
808  2011/2012        10260                46
809  2013/2014        10260                46
810  2014/2015        10260                46
811  2015/2016        10260                38

In [31]:
a_stats[a_stats['team_api_id'] == 8655]

        season  team_api_id  buildUpPlaySpeed
172  2009/2010         8655                55
173  2010/2011         8655                55
174  2011/2012         8655                57
175  2013/2014         8655                44
176  2014/2015         8655                44
177  2015/2016         8655                60

In [36]:
df = pd.merge(df, h_stats, how='left', left_on=['season', 'home_api'], right_on=['season', 'team_api_id'])

In [37]:
df = df.rename(columns={'buildUpPlaySpeed': 'home speed'})

In [38]:
df.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,home_api,away_api,team_api_id,home speed
0,2109,2009/2010,1,2009-08-16 00:00:00,Manchester United,Birmingham City,1,0,10260,8658,10260.0,70.0
1,2110,2009/2010,1,2009-08-16 00:00:00,Tottenham Hotspur,Liverpool,2,1,8586,8650,8586.0,70.0
2,2111,2009/2010,1,2009-08-15 00:00:00,Aston Villa,Wigan Athletic,0,2,10252,8528,10252.0,70.0
3,2112,2009/2010,1,2009-08-15 00:00:00,Everton,Arsenal,1,6,8668,9825,8668.0,60.0
4,2113,2009/2010,1,2009-08-15 00:00:00,Wolverhampton Wanderers,West Ham United,0,2,8602,8654,8602.0,70.0

In [39]:
df = pd.merge(df, a_stats, how='left', left_on=['season', 'away_api'], right_on=['season', 'team_api_id'])

In [46]:
df.columns

Index(['id', 'season', 'stage', 'date', 'home_team', 'away_team',
       'home_team_goal', 'away_team_goal', 'home_api', 'away_api',
       'team_api_id_x', 'home speed', 'team_api_id_y', 'buildUpPlaySpeed'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2660 entries, 0 to 2659
Data columns (total 12 columns):
id                  2660 non-null int64
season              2660 non-null object
stage               2660 non-null int64
date                2660 non-null object
home_team           2660 non-null object
away_team           2660 non-null object
home_team_goal      2660 non-null int64
away_team_goal      2660 non-null int64
home_api            2660 non-null int64
away_api            2660 non-null int64
team_api_id         2280 non-null float64
buildUpPlaySpeed    2280 non-null float64
dtypes: float64(2), int64(6), object(4)
memory usage: 270.2+ KB

In [41]:
df[df['home_api'] == 10260]

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,home_api,away_api,team_api_id_x,home speed,team_api_id_y,buildUpPlaySpeed
0,2109,2009/2010,1,2009-08-16 00:00:00,Manchester United,Birmingham City,1,0,10260,8658,10260.0,70.0,8658.0,70.0
21,2130,2009/2010,11,2009-10-31 00:00:00,Manchester United,Blackburn Rovers,2,0,10260,8655,10260.0,70.0,8655.0,55.0
47,2156,2009/2010,13,2009-11-21 00:00:00,Manchester United,Everton,3,0,10260,8668,10260.0,70.0,8668.0,60.0
70,2179,2009/2010,16,2009-12-12 00:00:00,Manchester United,Aston Villa,0,1,10260,10252,10260.0,70.0,10252.0,70.0
83,2192,2009/2010,17,2009-12-15 00:00:00,Manchester United,Wolverhampton Wanderers,3,0,10260,8602,10260.0,70.0,8602.0,70.0
129,2238,2009/2010,20,2009-12-30 00:00:00,Manchester United,Wigan Athletic,5,0,10260,8528,10260.0,70.0,8528.0,70.0
144,2253,2009/2010,22,2010-01-16 00:00:00,Manchester United,Burnley,3,0,10260,8191,10260.0,70.0,8191.0,70.0
154,2263,2009/2010,23,2010-01-23 00:00:00,Manchester United,Hull City,4,0,10260,8667,10260.0,70.0,8667.0,65.0
170,2279,2009/2010,25,2010-02-06 00:00:00,Manchester United,Portsmouth,5,0,10260,8462,10260.0,70.0,8462.0,70.0
203,2312,2009/2010,28,2010-02-23 00:00:00,Manchester United,West Ham United,3,0,10260,8654,10260.0,70.0,8654.0,58.0
233,2342,2009/2010,30,2010-03-14 00:00:00,Manchester United,Fulham,3,0,10260,9879,10260.0,70.0,9879.0,60.0
248,2357,2009/2010,31,2010-03-21 00:00:00,Manchester United,Liverpool,2,1,10260,8650,10260.0,70.0,8650.0,50.0
263,2372,2009/2010,33,2010-04-03 00:00:00,Manchester United,Chelsea,1,2,10260,8455,10260.0,70.0,8455.0,70.0
294,2403,2009/2010,36,2010-04-24 00:00:00,Manchester United,Tottenham Hotspur,3,1,10260,8586,10260.0,70.0,8586.0,70.0
317,2426,2009/2010,38,2010-05-09 00:00:00,Manchester United,Stoke City,4,0,10260,10194,10260.0,70.0,10194.0,65.0
320,2429,2009/2010,4,2009-08-29 00:00:00,Manchester United,Arsenal,2,1,10260,9825,10260.0,70.0,9825.0,66.0
340,2449,2009/2010,6,2009-09-20 00:00:00,Manchester United,Manchester City,4,3,10260,8456,10260.0,70.0,8456.0,70.0
360,2469,2009/2010,8,2009-10-03 00:00:00,Manchester United,Sunderland,2,2,10260,8472,10260.0,70.0,8472.0,60.0
371,2480,2009/2010,9,2009-10-17 00:00:00,Manchester United,Bolton Wanderers,2,1,10260,8559,10260.0,70.0,8559.0,55.0
385,2494,2010/2011,1,2010-08-16 00:00:00,Manchester United,Newcastle United,3,0,10260,10261,10260.0,65.0,10261.0,55.0
390,2499,2010/2011,10,2010-10-30 00:00:00,Manchester United,Tottenham Hotspur,2,0,10260,8586,10260.0,65.0,8586.0,60.0
400,2509,2010/2011,11,2010-11-06 00:00:00,Manchester United,Wolverhampton Wanderers,2,1,10260,8602,10260.0,65.0,8602.0,55.0
430,2539,2010/2011,14,2010-11-20 00:00:00,Manchester United,Wigan Athletic,2,0,10260,8528,10260.0,65.0,8528.0,35.0
440,2549,2010/2011,15,2010-11-27 00:00:00,Manchester United,Blackburn Rovers,7,1,10260,8655,10260.0,65.0,8655.0,55.0
460,2569,2010/2011,17,2010-12-13 00:00:00,Manchester United,Arsenal,1,0,10260,9825,10260.0,65.0,9825.0,75.0
480,2589,2010/2011,19,2010-12-26 00:00:00,Manchester United,Sunderland,2,0,10260,8472,10260.0,65.0,8472.0,55.0
520,2629,2010/2011,22,2011-01-04 00:00:00,Manchester United,Stoke City,2,1,10260,10194,10260.0,65.0,10194.0,50.0
540,2649,2010/2011,24,2011-01-22 00:00:00,Manchester United,Birmingham City,5,0,10260,8658,10260.0,65.0,8658.0,45.0
550,2659,2010/2011,25,2011-02-01 00:00:00,Manchester United,Aston Villa,3,1,10260,10252,10260.0,65.0,10252.0,65.0
570,2679,2010/2011,27,2011-02-12 00:00:00,Manchester United,Manchester City,2,1,10260,8456,10260.0,65.0,8456.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072,4181,2014/2015,25,2015-02-11 00:00:00,Manchester United,Burnley,3,1,10260,8191,10260.0,46.0,8191.0,48.0
2094,4203,2014/2015,27,2015-02-28 00:00:00,Manchester United,Sunderland,2,0,10260,8472,10260.0,46.0,8472.0,60.0
2116,4225,2014/2015,29,2015-03-15 00:00:00,Manchester United,Tottenham Hotspur,3,0,10260,8586,10260.0,46.0,8586.0,41.0
2146,4255,2014/2015,31,2015-04-04 00:00:00,Manchester United,Aston Villa,3,1,10260,10252,10260.0,46.0,10252.0,66.0
2152,4261,2014/2015,32,2015-04-12 00:00:00,Manchester United,Manchester City,4,2,10260,8456,10260.0,46.0,8456.0,59.0
2185,4294,2014/2015,35,2015-05-02 00:00:00,Manchester United,West Bromwich Albion,0,1,10260,8659,10260.0,46.0,8659.0,55.0
2202,4311,2014/2015,37,2015-05-17 00:00:00,Manchester United,Arsenal,1,1,10260,9825,10260.0,46.0,9825.0,59.0
2225,4334,2014/2015,4,2014-09-14 00:00:00,Manchester United,Queens Park Rangers,4,0,10260,10172,10260.0,46.0,10172.0,52.0
2245,4354,2014/2015,6,2014-09-27 00:00:00,Manchester United,West Ham United,2,1,10260,8654,10260.0,46.0,8654.0,72.0
2255,4364,2014/2015,7,2014-10-05 00:00:00,Manchester United,Everton,2,1,10260,8668,10260.0,46.0,8668.0,61.0
2272,4381,2014/2015,9,2014-10-26 00:00:00,Manchester United,Chelsea,1,1,10260,8455,10260.0,46.0,8455.0,67.0
2285,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,10260,8586,10260.0,38.0,8586.0,47.0
2295,4404,2015/2016,10,2015-10-25 00:00:00,Manchester United,Manchester City,0,0,10260,8456,10260.0,38.0,8456.0,59.0
2315,4424,2015/2016,12,2015-11-07 00:00:00,Manchester United,West Bromwich Albion,2,0,10260,8659,10260.0,38.0,8659.0,62.0
2343,4452,2015/2016,15,2015-12-05 00:00:00,Manchester United,West Ham United,0,0,10260,8654,10260.0,38.0,8654.0,77.0
2363,4472,2015/2016,17,2015-12-19 00:00:00,Manchester United,Norwich City,1,2,10260,9850,10260.0,38.0,9850.0,45.0
2384,4493,2015/2016,19,2015-12-28 00:00:00,Manchester United,Chelsea,0,0,10260,8455,10260.0,38.0,8455.0,67.0
2404,4513,2015/2016,20,2016-01-02 00:00:00,Manchester United,Swansea City,2,1,10260,10003,10260.0,38.0,10003.0,45.0
2434,4543,2015/2016,23,2016-01-23 00:00:00,Manchester United,Southampton,0,1,10260,8466,10260.0,38.0,8466.0,52.0
2447,4556,2015/2016,24,2016-02-02 00:00:00,Manchester United,Stoke City,3,0,10260,10194,10260.0,38.0,10194.0,48.0
2472,4581,2015/2016,27,2016-02-28 00:00:00,Manchester United,Arsenal,3,2,10260,9825,10260.0,38.0,9825.0,59.0
2488,4597,2015/2016,28,2016-03-02 00:00:00,Manchester United,Watford,1,0,10260,9817,10260.0,38.0,9817.0,61.0
2504,4613,2015/2016,3,2015-08-22 00:00:00,Manchester United,Newcastle United,0,0,10260,10261,10260.0,38.0,10261.0,58.0
2515,4624,2015/2016,30,2016-04-20 00:00:00,Manchester United,Crystal Palace,2,0,10260,9826,10260.0,38.0,9826.0,61.0
2535,4644,2015/2016,32,2016-04-03 00:00:00,Manchester United,Everton,1,0,10260,8668,10260.0,38.0,8668.0,43.0
2555,4664,2015/2016,34,2016-04-16 00:00:00,Manchester United,Aston Villa,1,0,10260,10252,10260.0,38.0,10252.0,63.0
2573,4682,2015/2016,36,2016-05-01 00:00:00,Manchester United,Leicester City,1,1,10260,8197,10260.0,38.0,8197.0,63.0
2593,4702,2015/2016,38,2016-05-17 00:00:00,Manchester United,Bournemouth,3,1,10260,8678,10260.0,38.0,8678.0,47.0
2614,4723,2015/2016,5,2015-09-12 00:00:00,Manchester United,Liverpool,3,1,10260,8650,10260.0,38.0,8650.0,66.0
2632,4741,2015/2016,7,2015-09-26 00:00:00,Manchester United,Sunderland,3,0,10260,8472,10260.0,38.0,8472.0,43.0

In [142]:
columns = [['buildUpPlaySpeed', 'buildUpPlayDribbling', 'buildUpPlayPassing', 'chanceCreationPassing', 
            'chanceCreationCrossing','chanceCreationShooting','defencePressure','defenceAggression','defenceTeamWidth']]

In [162]:
stats.date.value_counts()

2015-09-10 00:00:00    245
2011-02-22 00:00:00    244
2014-09-19 00:00:00    244
2013-09-20 00:00:00    242
2012-02-22 00:00:00    242
2010-02-22 00:00:00    241
Name: date, dtype: int64

In [180]:
mock_score = pd.DataFrame([['A', 1, 90], ['A', 2, 80], ['A',3,100], ['B', 1, 95], ['B',2,85]], columns = ['year', 'team', 'stat'])

In [49]:
mock = pd.DataFrame([['A',1,1],
                    ['A',2,2],
                    ['A',1,3],
                    ['A',2,4],
                    ['A',1,5],
                    ['B',1,6],
                    ['B',2,7],
                    ['B',1,8],
                    ['B',2,9],
                    ['B',1,10]], columns=['year','team','score'])

In [181]:
mock, mock_score

(  year  team  score  score_agg
 0    A     1      1          0
 1    A     2      2          0
 2    A     1      3          1
 3    A     2      4          2
 4    A     1      5          4
 5    B     1      6          0
 6    B     2      7          0
 7    B     1      8          6
 8    B     2      9          7
 9    B     1     10         14,
   year  team  stat
 0    A     1    90
 1    A     2    80
 2    A     3   100
 3    B     1    95
 4    B     2    85)

In [182]:
test = pd.merge(mock, mock_score, on=['year', 'team'])

In [183]:
test

  year  team  score  score_agg  stat
0    A     1      1          0    90
1    A     1      3          1    90
2    A     1      5          4    90
3    A     2      2          0    80
4    A     2      4          2    80
5    B     1      6          0    95
6    B     1      8          6    95
7    B     1     10         14    95
8    B     2      7          0    85
9    B     2      9          7    85