In [1]:
# /Users/chriswesterman/Library/Jupyter/nbextensions/snippets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

# Exploratory notebook

In [2]:
path = "../data/"  #Insert path here
database = path + 'database.sqlite'

conn = sqlite3.connect(database)

In [3]:
matches = pd.read_sql("""SELECT m.id, 
                        m.season, m.stage, m.date, 
                        ht.team_long_name as home_team, at.team_long_name as away_team, m.home_team_goal, 
                        m.away_team_goal                                      
                        FROM Match as m
                        LEFT JOIN Team AS ht on ht.team_api_id = m.home_team_api_id
                        LEFT JOIN Team AS at on at.team_api_id = m.away_team_api_id
                        WHERE league_id = 1729 AND season = '2015/2016'
                        ;""", conn)
pd.set_option('display.max_columns', 500)
matches.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
0,4389,2015/2016,1,2015-08-09 00:00:00,Arsenal,West Ham United,0,2
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2

In [4]:
matches.sort_values('date', inplace=True)

In [5]:
matches.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0

In [6]:
matches['home_w'] = 0
matches['away_w'] = 0
matches['draw'] = 0

matches.loc[matches['home_team_goal'] > matches['away_team_goal'], 'home_w'] = 1
matches.loc[matches['home_team_goal'] < matches['away_team_goal'], 'away_w'] = 1
matches.loc[matches['home_team_goal'] == matches['away_team_goal'], 'draw'] = 1

In [7]:
matches['home_t_home_goals'] = matches.groupby('home_team')['home_team_goal'].apply(lambda x  : x.cumsum().shift(fill_value=0))
matches['home_t_total_goals'] = 0

matches['home_t_goals_against'] = matches.groupby('home_team')['away_team_goal'].apply(lambda x  : x.cumsum().shift(fill_value=0))
# matches['home_t_total_goals_against'] = 0

matches['home_t_home_wins'] = matches.groupby('home_team')['home_w'].apply(lambda x  : x.cumsum().shift(fill_value=0))
matches['home_t_home_losses'] = matches.groupby('home_team')['away_w'].apply(lambda x  : x.cumsum().shift(fill_value=0))
matches['home_t_home_draws'] = matches.groupby('home_team')['draw'].apply(lambda x  : x.cumsum().shift(fill_value=0))
# matches['home_t_total_wins'] = 0
# matches['home_t_total_losses'] = 0
# matches['home_t_total_draws'] = 0


matches['away_t_away_goals'] = matches.groupby('away_team')['away_team_goal'].apply(lambda x  : x.cumsum().shift(fill_value=0))
matches['away_t_total_goals'] = 0
matches['away_t_away_goals_against'] = matches.groupby('away_team')['home_team_goal'].apply(lambda x  : x.cumsum().shift(fill_value=0))
# matches['away_t_total_goals_against'] = 0


matches['away_t_away_wins'] = matches.groupby('away_team')['away_w'].apply(lambda x  : x.cumsum().shift(fill_value=0))
matches['away_t_away_losses'] = matches.groupby('away_team')['home_w'].apply(lambda x  : x.cumsum().shift(fill_value=0))
matches['away_t_away_draws'] = matches.groupby('away_team')['draw'].apply(lambda x  : x.cumsum().shift(fill_value=0))
# matches['away_t_total_wins'] = 0
# matches['away_t_total_losses'] = 0
# matches['away_t_total_draws'] = 0

In [ ]:
matches.head()

In [ ]:
matches[(matches['stage'] < 4) & (matches['away_team'] == 'Everton' )].groupby('away_team')['away_team_goal'].sum()

In [ ]:
matches[(matches.home_team =='Everton') | (matches.away_team == 'Everton')]

# row 3 hom_t_total_goals should be 5 (2 home goals in week 1 / 3 away goals in week 2)

In [8]:
def ht_total_goals(st, ht, hg):
    if st == 1:
        return 0
    total_goals = matches[(matches['stage'] < st) & (matches['away_team'] == ht)]\
        .groupby('away_team')['away_team_goal'].sum() + hg
    return total_goals[0]
    
    
    

def at_total_goals(st, at, ag):
    if st == 1:
        return 0
    total_goals = matches[(matches['stage'] < st) & (matches['home_team'] == at)]\
        .groupby('home_team')['home_team_goal'].sum() + ag
    return total_goals[0]


matches['home_t_total_goals'] = matches.apply(lambda x: ht_total_goals( x['stage'], x['home_team'], x['home_t_home_goals']), axis=1)

matches['away_t_total_goals'] = matches.apply(lambda x: at_total_goals( x['stage'], x['away_team'], x['away_t_away_goals']), axis=1)

In [11]:
matches[(matches.home_team =='Arsenal') | (matches.away_team == 'Arsenal')]

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,home_w,away_w,draw,home_t_home_goals,home_t_total_goals,home_t_goals_against,home_t_home_wins,home_t_home_losses,home_t_home_draws,away_t_away_goals,away_t_total_goals,away_t_away_goals_against,away_t_away_wins,away_t_away_losses,away_t_away_draws
0,4389,2015/2016,1,2015-08-09 00:00:00,Arsenal,West Ham United,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
111,4500,2015/2016,2,2015-08-16 00:00:00,Crystal Palace,Arsenal,1,2,0,1,0,0,3,0,0,0,0,0,0,0,0,0,0
220,4609,2015/2016,3,2015-08-24 00:00:00,Arsenal,Liverpool,0,0,0,0,1,0,2,2,0,1,0,1,2,0,1,0,0
325,4714,2015/2016,4,2015-08-29 00:00:00,Newcastle United,Arsenal,0,1,0,1,0,2,2,2,0,0,1,2,2,1,1,0,0
330,4719,2015/2016,5,2015-09-12 00:00:00,Arsenal,Stoke City,2,0,1,0,0,0,3,2,0,1,1,3,3,3,0,0,2
342,4731,2015/2016,6,2015-09-19 00:00:00,Chelsea,Arsenal,2,0,1,0,0,3,7,4,0,1,1,3,5,1,2,0,0
350,4739,2015/2016,7,2015-09-26 00:00:00,Leicester City,Arsenal,2,5,0,1,0,8,13,5,2,0,1,3,5,3,2,1,0
360,4749,2015/2016,8,2015-10-04 00:00:00,Arsenal,Manchester United,3,0,1,0,0,2,10,2,1,1,1,5,12,4,2,1,0
378,4767,2015/2016,9,2015-10-17 00:00:00,Watford,Arsenal,0,3,0,1,0,1,6,1,1,1,2,8,13,5,3,1,0
10,4399,2015/2016,10,2015-10-24 00:00:00,Arsenal,Everton,2,1,1,0,0,5,16,2,2,1,1,6,12,2,2,0,2
26,4415,2015/2016,11,2015-10-31 00:00:00,Swansea City,Arsenal,0,3,0,1,0,6,12,4,2,1,2,11,18,5,4,1,0
30,4419,2015/2016,12,2015-11-08 00:00:00,Arsenal,Tottenham Hotspur,1,1,0,0,1,7,21,3,3,1,1,9,19,5,2,1,2
49,4438,2015/2016,13,2015-11-21 00:00:00,West Bromwich Albion,Arsenal,2,1,1,0,0,7,10,12,1,4,1,14,22,5,5,1,0
56,4445,2015/2016,14,2015-11-29 00:00:00,Norwich City,Arsenal,1,1,0,0,1,7,16,8,2,3,1,15,23,7,5,2,0
60,4449,2015/2016,15,2015-12-05 00:00:00,Arsenal,Sunderland,3,1,1,0,0,8,24,4,3,1,2,7,16,18,1,5,1
70,4459,2015/2016,16,2015-12-13 00:00:00,Aston Villa,Arsenal,0,2,0,1,0,5,13,10,0,5,2,16,27,8,5,2,1
80,4469,2015/2016,17,2015-12-21 00:00:00,Arsenal,Manchester City,2,1,1,0,0,11,29,5,4,1,2,7,32,6,3,2,2
96,4485,2015/2016,18,2015-12-26 00:00:00,Southampton,Arsenal,4,0,1,0,0,13,21,13,3,4,2,18,31,8,6,2,1
100,4489,2015/2016,19,2015-12-28 00:00:00,Arsenal,Bournemouth,2,0,1,0,0,13,31,6,5,1,2,12,22,19,3,5,1
120,4509,2015/2016,20,2016-01-02 00:00:00,Arsenal,Newcastle United,1,0,1,0,0,15,33,6,6,1,2,5,19,20,2,6,1
133,4522,2015/2016,21,2016-01-13 00:00:00,Liverpool,Arsenal,3,3,0,0,1,11,22,11,4,2,3,18,34,12,6,3,1
147,4536,2015/2016,22,2016-01-17 00:00:00,Stoke City,Arsenal,0,0,0,0,1,13,24,10,5,4,1,21,37,15,6,3,2
150,4539,2015/2016,23,2016-01-24 00:00:00,Arsenal,Chelsea,0,1,0,1,0,16,37,6,7,1,2,11,31,15,2,5,3
160,4549,2015/2016,24,2016-02-02 00:00:00,Arsenal,Southampton,0,0,0,0,1,16,37,7,7,2,2,10,32,11,3,4,4
171,4560,2015/2016,25,2016-02-07 00:00:00,Bournemouth,Arsenal,0,2,0,1,0,14,29,16,3,4,4,21,37,15,6,3,3
180,4569,2015/2016,26,2016-02-14 00:00:00,Arsenal,Leicester City,2,1,1,0,0,16,39,7,7,2,3,26,47,14,8,1,4
192,4581,2015/2016,27,2016-02-28 00:00:00,Manchester United,Arsenal,3,2,1,0,0,15,33,5,6,2,4,23,41,15,7,3,3
200,4589,2015/2016,28,2016-03-02 00:00:00,Arsenal,Swansea City,1,2,0,1,0,18,43,8,8,2,3,12,25,18,2,7,4
217,4606,2015/2016,29,2016-03-05 00:00:00,Tottenham Hotspur,Arsenal,2,2,0,0,1,25,49,10,8,2,4,25,44,18,7,4,3
242,4631,2015/2016,31,2016-03-19 00:00:00,Everton,Arsenal,0,2,0,1,0,29,51,26,4,7,4,27,48,20,7,4,4
250,4639,2015/2016,32,2016-04-02 00:00:00,Arsenal,Watford,4,0,1,0,0,19,48,10,8,3,3,16,30,18,5,6,3
269,4658,2015/2016,33,2016-04-09 00:00:00,West Ham United,Arsenal,3,3,0,0,1,24,49,16,7,2,6,29,54,20,8,4,4
270,4659,2015/2016,34,2016-04-17 00:00:00,Arsenal,Crystal Palace,1,1,0,0,1,23,55,10,9,3,3,18,35,20,5,5,5
230,4619,2015/2016,30,2016-04-21 00:00:00,Arsenal,West Bromwich Albion,2,0,1,0,0,24,51,11,9,3,4,12,31,18,4,6,6
287,4676,2015/2016,35,2016-04-24 00:00:00,Sunderland,Arsenal,0,0,0,0,1,17,39,18,4,7,5,32,58,23,8,4,5
290,4679,2015/2016,36,2016-04-30 00:00:00,Arsenal,Norwich City,1,0,1,0,0,26,58,11,10,3,4,13,39,33,3,12,2
305,4694,2015/2016,37,2016-05-08 00:00:00,Manchester City,Arsenal,2,2,0,0,1,45,68,19,12,5,1,32,59,23,8,4,6
310,4699,2015/2016,38,2016-05-15 00:00:00,Arsenal,Aston Villa,4,0,1,0,0,27,61,11,11,3,4,13,27,37,1,14,3

In [ ]:
for index, df in matches.iterrows():
    total_goals = matches[(matches['stage'] < df['stage']) & (matches['away_team'] == df['home_team'])].groupby('away_team')['away_team_goal'].sum() + df['home_t_home_goals']
    print(total_goals)

In [ ]:
test = pd.DataFrame([[1,2,3],[1,5,6],[2,5,6],[2,2,1]], columns=['a', 'b', 'c'])

print(test)

def test_func(a,b):
    return a + b


test['d'] = test.apply(lambda x: test_func(x['a'], x['b']), axis=1)

print(test)