# Final Project - Beat the Bookies

## Day One - Initial Data Exploration

The goal of today is:

- Create repositories
- Add collaborators
- Add notebooks to the project
- Confirm primary data source
- Build a dataframe that includes all the relevant and desired data from our model (check google sheets for the columns). 


Using the dataset downloaded from kaggle (https://www.kaggle.com/hugomathien/soccer?) - exploring the data available for one season (2015/16) to combine the data into our own dataframe that includes the relevant information that we need for our models.

Colummns for the dataset:

- Home Team Rank
- Home Team Total Wins
- Home Team win
- Draw
- Away Team Win
- Away Team Rank

To add columns including possesion, reds, yellows, corners, shots at goal, shots on target, goal percentage, throw ins (?), fouls, free kicks. Later on when we know that we can combine the core of the table easily for all seasons.

Target:
- Home Team win y/n

### imports

In [1]:
import pandas as pd
import numpy as np 
import sqlite3

### importing the data from sqlite

In [2]:
# create the file path (include two beatthebookies)
path = '/Users/georgebrockman/code/georgebrockman/beatthebookies/beatthebookies/data/database.sqlite'
# create the connection
conn = sqlite3.connect(path)
# create the cursor
cursor = conn.cursor()

In [3]:
# from the match table we want to select all matches played in the English Premier league for the 2015/16 season.
# Premier League - league_id = 1729
# order by stages (Game Weeks)
# need quotes around '2015/2016'
result = cursor.execute(""" SELECT * FROM "Match" m 
                        WHERE league_id = 1729 
                        AND season = '2015/2016' 
                        ORDER BY stage ASC""")

In [4]:
row = result.fetchall()
row[0] # seems to be a lot of null values for shots, s

(4389,
 1729,
 1729,
 '2015/2016',
 1,
 '2015-08-09 00:00:00',
 1987032,
 9825,
 8654,
 0,
 2,
 1,
 2,
 4,
 6,
 8,
 4,
 6,
 3,
 5,
 7,
 5,
 1,
 2,
 4,
 6,
 8,
 3,
 5,
 7,
 5,
 4,
 6,
 1,
 3,
 3,
 3,
 3,
 6,
 6,
 8,
 8,
 8,
 11,
 1,
 3,
 3,
 3,
 3,
 6,
 6,
 6,
 8,
 10,
 10,
 30859,
 26154,
 35606,
 46539,
 38521,
 159594,
 37436,
 75489,
 36378,
 196386,
 46469,
 169756,
 109897,
 35110,
 49543,
 155782,
 37169,
 575789,
 148302,
 25496,
 18506,
 192899,
 '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><coordinates><value>21</value><value>62</value></coordinates><elapsed>43</elapsed><player2>25496</player2><subtype>header</subtype><player1>148302</player1><sortorder>2</sortorder><team>8654</team><id>4659387</id><n>251</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>39</event_incident_typefk><coordinates><value>30</value><value>56</value></coordinates><elapsed>57</elapsed><subtype>distance</subtype><player1>18506</player1><sortorder>0</sortorder><team>8654</team><id>4659529</id><n>292</n><type>goal</type><goal_type>n</goal_type></value></goal>',
 '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>31</value><value>10</value></coordinates><elapsed>6</elapsed><subtype>blocked_shot</subtype><player1>37436</player1><sortorder>0</sortorder><team>9825</team><n>31</n><type>shoton</type><id>4659032</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>494</event_incident_typefk><coordinates><value>34</value><value>15</value></coordinates><elapsed>8</elapsed><subtype>blocked_shot</subtype><player1>36378</player1><sortorder>2</sortorder><team>9825</team><n>40</n><type>shoton</type><id>4659054</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>32</value><value>58</value></coordinates><elapsed>18</elapsed><subtype>blocked_shot</subtype><player1>155782</player1><sortorder>0</sortorder><team>8654</team><n>88</n><type>shoton</type><id>4659137</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>24</value><value>66</value></coordinates><elapsed>20</elapsed><subtype>shot</subtype><player1>192899</player1><sortorder>0</sortorder><team>8654</team><n>108</n><type>shoton</type><id>4659163</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>14</value><value>5</value></coordinates><elapsed>26</elapsed><subtype>blocked_shot</subtype><player1>46469</player1><sortorder>1</sortorder><team>9825</team><n>136</n><type>shoton</type><id>4659224</id></value><value><event_incident_typefk>876</event_incident_typefk><coordinates><value>20</value><value>7</value></coordinates><elapsed>33</elapsed><subtype>blocked_header</subtype><player1>35606</player1><sortorder>3</sortorder><team>9825</team><n>183</n><type>shoton</type><id>4659305</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>311</event_incident_typefk><coordinates><value>15</value><value>56</value></coordinates><elapsed>36</elapsed><subtype>deflected</subtype><player1>25496</player1><sortorder>0</sortorder><team>8654</team><n>186</n><type>shoton</type><id>4659322</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>15</value><value>7</value></coordinates><elapsed>45</elapsed><subtype>blocked_shot</subtype><player1>36378</player1><sortorder>2</sortorder><team>9825</team><n>238</n><type>shoton</type><id>4659405</id></value><value><stats><blocked>1</blocked></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>61</event_incident_typefk><coordinates><value>32</value><value>14</value></coordinates><elapsed>45</elapsed><subtype>blocked_shot</subtype><player1>26154</player1><sortorder>3</sortorder><team>9825</team><n>241</n><type>shoton</type><id>4659406</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>14</value><value>10</value></coordinates><elapsed>51</elapsed><subtype>blocked_shot</subtype><player1>196386</player1><sortorder>1</sortorder><team>9825</team><n>270</n><type>shoton</type><id>4659496</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>28</value><value>10</value></coordinates><elapsed>56</elapsed><subtype>shot</subtype><player1>46469</player1><sortorder>2</sortorder><team>9825</team><n>288</n><type>shoton</type><id>4659523</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><coordinates><value>23</value><value>6</value></coordinates><elapsed>65</elapsed><subtype>header</subtype><player1>46469</player1><sortorder>1</sortorder><team>9825</team><n>326</n><type>shoton</type><id>4659576</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>311</event_incident_typefk><coordinates><value>37</value><value>14</value></coordinates><elapsed>71</elapsed><subtype>deflected</subtype><player1>31013</player1><sortorder>1</sortorder><team>9825</team><n>342</n><type>shoton</type><id>4659615</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>10</value><value>9</value></coordinates><elapsed>73</elapsed><subtype>blocked_shot</subtype><player1>50047</player1><sortorder>0</sortorder><team>9825</team><n>347</n><type>shoton</type><id>4659622</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>12</value><value>62</value></coordinates><elapsed>81</elapsed><subtype>shot</subtype><player1>192899</player1><sortorder>1</sortorder><team>8654</team><n>378</n><type>shoton</type><id>4659682</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>27</value><value>7</value></coordinates><elapsed>82</elapsed><subtype>blocked_shot</subtype><player1>31013</player1><sortorder>0</sortorder><team>9825</team><n>381</n><type>shoton</type><id>4659693</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><coordinates><value>19</value><value>10</value></coordinates><elapsed>85</elapsed><subtype>shot</subtype><player1>37436</player1><sortorder>1</sortorder><team>9825</team><n>396</n><type>shoton</type><id>4659719</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><coordinates><value>20</value><value>52</value></coordinates><elapsed>90</elapsed><subtype>distance</subtype><player1>91560</player1><sortorder>3</sortorder><team>8654</team><n>428</n><type>shoton</type><id>4659782</id></value><value><stats><shoton>1</shoton></stats><elapsed_plus>3</elapsed_plus><event_incident_typefk>135</event_incident_typefk><coordinates><value>16</value><value>9</value></coordinates><elapsed>90</elapsed><subtype>shot</subtype><player1>50047</player1><sortorder>11</sortorder><team>9825</team><n>444</n><type>shoton</type><id>4659816</id></value><value><stats><shoton>1</shoton></stats><elapsed_plus>5</elapsed_plus><event_incident_typefk>153</event_incident_typefk><coordinates><value>12</value><value>7</value></coordinates><elapsed>90</elapsed><subtype>shot</subtype><player1>50047</player1><sortorder>13</sortorder><team>9825</team><n>447</n><type>shoton</type><id>4659836</id></value></shoton>',
 '<shotoff><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>47</event_incident_typefk><coordinates><value>19</value><value>9</value></coordinates><elapsed>9</elapsed><subtype>header</subtype><player1>46539</player1><sortorder>2</sortorder><team>9825</team><n>46</n><type>shotoff</type><id>4659060</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>53</event_incident_typefk><coordinates><value>16</value><value>14</value></coordinates><elapsed>11</elapsed><subtype>volley</subtype><player1>196386</player1><sortorder>2</sortorder><team>9825</team><n>63</n><type>shotoff</type><id>4659078</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>53</event_incident_typefk><coordinates><value>13</value><value>6</value></coordinates><elapsed>28</elapsed><subtype>volley</subtype><player1>37436</player1><sortorder>4</sortorder><team>9825</team><n>153</n><type>shotoff</type><id>4659252</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>36</value><value>59</value></coordinates><elapsed>29</elapsed><subtype>shot</subtype><player1>192899</player1><sortorder>2</sortorder><team>8654</team><n>160</n><type>shotoff</type><id>4659261</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>94</event_incident_typefk><coordinates><value>34</value><value>14</value></coordinates><elapsed>32</elapsed><subtype>crossbar</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>171</n><type>shotoff</type><id>4659288</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>15</value><value>60</value></coordinates><elapsed>36</elapsed><subtype>shot</subtype><player1>18506</player1><sortorder>2</sortorder><team>8654</team><n>190</n><type>shotoff</type><id>4659329</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>9</event_incident_typefk><coordinates><value>29</value><value>15</value></coordinates><elapsed>40</elapsed><subtype>distance</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>208</n><type>shotoff</type><id>4659361</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>16</value><value>8</value></coordinates><elapsed>55</elapsed><subtype>shot</subtype><player1>46469</player1><sortorder>1</sortorder><team>9825</team><n>284</n><type>shotoff</type><id>4659515</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>9</event_incident_typefk><coordinates><value>36</value><value>13</value></coordinates><elapsed>82</elapsed><subtype>distance</subtype><player1>196386</player1><sortorder>1</sortorder><team>9825</team><n>383</n><type>shotoff</type><id>4659695</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>34</value><value>5</value></coordinates><elapsed>89</elapsed><subtype>shot</subtype><player1>46469</player1><sortorder>3</sortorder><team>9825</team><n>424</n><type>shotoff</type><id>4659761</id></value></shotoff>',
 '<foulcommit><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>14</value><value>37</value></coordinates><elapsed>5</elapsed><player2>159594</player2><subtype>trip</subtype><player1>37169</player1><sortorder>1</sortorder><team>8654</team><n>27</n><type>foulcommit</type><id>4659025</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><coordinates><value>33</value><value>16</value></coordinates><elapsed>8</elapsed><player2>196386</player2><subtype>serious_foul</subtype><player1>49543</player1><sortorder>0</sortorder><team>8654</team><n>35</n><type>foulcommit</type><id>4659044</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>15</value><value>24</value></coordinates><elapsed>10</elapsed><player2>35110</player2><subtype>pushing</subtype><player1>46469</player1><sortorder>0</sortorder><team>9825</team><n>64</n><type>foulcommit</type><id>4659065</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>4</value><value>27</value></coordinates><elapsed>14</elapsed><player2>37436</player2><subtype>pushing</subtype><player1>18506</player1><sortorder>3</sortorder><team>8654</team><n>73</n><type>foulcommit</type><id>4659102</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>621</event_incident_typefk><coordinates><value>37</value><value>41</value></coordinates><elapsed>16</elapsed><player2>26154</player2><subtype>obstruction</subtype><player1>155782</player1><sortorder>0</sortorder><team>8654</team><n>83</n><type>foulcommit</type><id>4659121</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>41</value><value>50</value></coordinates><elapsed>19</elapsed><player2>18506</player2><subtype>trip</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>96</n><type>foulcommit</type><id>4659147</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><coordinates><value>4</value><value>9</value></coordinates><elapsed>23</elapsed><player2>46469</player2><subtype>serious_foul</subtype><player1>109897</player1><sortorder>0</sortorder><team>8654</team><n>120</n><type>foulcommit</type><id>4659187</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>728</event_incident_typefk><coordinates><value>9</value><value>56</value></coordinates><elapsed>26</elapsed><player2>46539</player2><subtype>pull</subtype><player1>192899</player1><sortorder>2</sortorder><team>8654</team><n>138</n><type>foulcommit</type><id>4659226</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>42</value><value>51</value></coordinates><elapsed>27</elapsed><player2>37169</player2><subtype>trip</subtype><player1>26154</player1><sortorder>0</sortorder><team>9825</team><n>142</n><type>foulcommit</type><id>4659234</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>33</value><value>28</value></coordinates><elapsed>30</elapsed><player2>25496</player2><subtype>trip</subtype><player1>36378</player1><sortorder>0</sortorder><team>9825</team><n>164</n><type>foulcommit</type><id>4659269</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>621</event_incident_typefk><coordinates><value>5</value><value>8</value></coordinates><elapsed>37</elapsed><player2>38521</player2><subtype>obstruction</subtype><player1>109897</player1><sortorder>0</sortorder><team>8654</team><n>194</n><type>foulcommit</type><id>4659333</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>647</event_incident_typefk><coordinates><value>15</value><value>46</value></coordinates><elapsed>43</elapsed><player2>575789</player2><subtype>dangerous_play</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>219</n><type>foulcommit</type><id>4659382</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>12</value><value>26</value></coordinates><elapsed>52</elapsed><player2>18506</player2><subtype>pushing</subtype><player1>36378</player1><sortorder>0</sortorder><team>9825</team><n>274</n><type>foulcommit</type><id>4659499</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>36</value><value>11</value></coordinates><elapsed>62</elapsed><player2>37169</player2><subtype>trip</subtype><player1>46469</player1><sortorder>4</sortorder><team>9825</team><n>317</n><type>foulcommit</type><id>4659561</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>5</value><value>12</value></coordinates><elapsed>64</elapsed><player2>38521</player2><subtype>trip</subtype><player1>23538</player1><sortorder>0</sortorder><team>8654</team><n>320</n><type>foulcommit</type><id>4659572</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>23</value><value>22</value></coordinates><elapsed>67</elapsed><player2>37169</player2><subtype>trip</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>329</n><type>foulcommit</type><id>4659587</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><coordinates><value>21</value><value>39</value></coordinates><elapsed>69</elapsed><player2>37169</player2><subtype>serious_foul</subtype><player1>38521</player1><sortorder>0</sortorder><team>9825</team><n>333</n><type>foulcommit</type><id>4659593</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>728</event_incident_typefk><coordinates><value>28</value><value>8</value></coordinates><elapsed>72</elapsed><player2>109897</player2><subtype>pull</subtype><player1>50047</player1><sortorder>1</sortorder><team>9825</team><n>345</n><type>foulcommit</type><id>4659620</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>21</value><value>30</value></coordinates><elapsed>82</elapsed><player2>37169</player2><subtype>pushing</subtype><player1>50047</player1><sortorder>3</sortorder><team>9825</team><n>388</n><type>foulcommit</type><id>4659702</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>32</value><value>43</value></coordinates><elapsed>85</elapsed><player2>37169</player2><subtype>trip</subtype><player1>36378</player1><sortorder>2</sortorder><team>9825</team><n>399</n><type>foulcommit</type><id>4659722</id></value><value><stats><foulscommitted>1</foulscommitted></stats><elapsed_plus>5</elapsed_plus><event_incident_typefk>320</event_incident_typefk><coordinates><value>3</value><value>49</value></coordinates><elapsed>90</elapsed><player2>46539</player2><subtype>pushing</subtype><player1>91560</player1><sortorder>12</sortorder><team>8654</team><n>446</n><type>foulcommit</type><id>4659835</id></value></foulcommit>',
 '<card><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>5</elapsed><card_type>y</card_type><player1>37169</player1><sortorder>2</sortorder><team>8654</team><n>28</n><type>card</type><id>4659026</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>8</elapsed><card_type>y</card_type><player1>49543</player1><sortorder>1</sortorder><team>8654</team><n>36</n><type>card</type><id>4659046</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>37</elapsed><card_type>y</card_type><player1>109897</player1><sortorder>1</sortorder><team>8654</team><n>195</n><type>card</type><id>4659336</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>69</elapsed><card_type>y</card_type><player1>38521</player1><sortorder>1</sortorder><team>9825</team><n>334</n><type>card</type><id>4659594</id></value></card>',

In [5]:
# create a DataFrame from the SQL query
matches_df = pd.read_sql(""" SELECT * FROM "Match" m 
                        WHERE league_id = 1729 
                        AND season = '2015/2016' 
                        ORDER BY stage ASC""", conn)

In [6]:
# inspect the DataFrame
matches_df.columns.values

array(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1',
       'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5',
       'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9',
       'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA'], dtype=object)

In [7]:
# we can remove all the ones not needed for home-away goal data
simple_matches = matches_df.drop(['home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1',
       'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5',
       'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9',
       'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA'], axis=1)

In [8]:
simple_matches.head(5)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2

In [9]:
simple_matches['home_goals']= simple_matches.groupby('home_team_api_id')['home_team_goal'].cumsum().fillna(0)

In [10]:
simple_matches['away_goals']= simple_matches.groupby('away_team_api_id')['away_team_goal'].cumsum().fillna(0)

In [11]:
simple_matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2,0,2
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1,0,1
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2,2,2
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2,2,2
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2,4,2
5,4394,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987037,10260,8586,1,0,1,0
6,4395,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987038,10261,8466,2,2,2,2
7,4396,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987039,9850,9826,1,3,1,3
8,4397,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987040,10194,8650,0,1,0,1
9,4398,1729,1729,2015/2016,1,2015-08-10 00:00:00,1987041,8659,8456,0,3,0,3
10,4499,1729,1729,2015/2016,2,2015-08-14 00:00:00,1987078,10252,10260,0,1,0,1
11,4500,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987079,9826,9825,1,2,1,2
12,4501,1729,1729,2015/2016,2,2015-08-17 00:00:00,1987080,8650,8678,1,0,1,0
13,4502,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987081,8456,8455,3,0,3,0
14,4503,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987082,8466,8668,0,3,0,3
15,4504,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987083,8472,9850,1,3,1,3
16,4505,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987084,10003,10261,2,0,2,0
17,4506,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987085,8586,10194,2,2,2,2
18,4507,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987086,9817,8659,0,0,0,0
19,4508,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987087,8654,8197,1,2,1,2
20,4609,1729,1729,2015/2016,3,2015-08-24 00:00:00,1988730,9825,8650,0,0,0,1
21,4610,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988731,9826,10252,2,1,3,2
22,4611,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988732,8668,8456,0,2,2,5
23,4612,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988733,8197,8586,1,1,5,1
24,4613,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988734,10260,10261,0,0,1,0
25,4614,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988735,9850,10194,1,1,2,3
26,4615,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988736,8472,10003,1,1,2,3
27,4616,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988737,9817,8466,0,0,0,2
28,4617,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988738,8659,8455,2,3,2,3
29,4618,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988739,8654,8678,3,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,4679,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989060,9825,9850,1,0,27,13
351,4680,1729,1729,2015/2016,36,2016-05-02 00:00:00,1989061,8455,8586,2,2,31,33
352,4681,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989062,8668,8678,2,1,32,21
353,4682,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989063,10260,8197,1,1,24,32
354,4683,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989064,10261,9826,1,0,27,19
355,4684,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989065,8466,8456,4,2,35,23
356,4685,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989066,10194,8472,1,1,20,23
357,4686,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989067,10003,8650,3,1,19,29
358,4687,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989068,9817,10252,3,2,18,13
359,4688,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989069,8659,8654,0,3,19,30
360,4689,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989070,10252,10261,0,0,14,12
361,4690,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989071,8678,8659,1,1,23,14
362,4691,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989072,9826,10194,2,1,19,19
363,4692,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989073,8197,8668,3,1,35,24
364,4693,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989074,8650,9817,2,0,33,20
365,4694,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989075,8456,9825,2,2,47,34
366,4695,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989076,9850,10260,0,1,26,22
367,4696,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989077,8472,8455,3,2,23,27
368,4697,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989078,8586,8466,1,2,35,20
369,4698,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989079,8654,10003,1,4,34,22
370,4699,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987597,9825,10252,4,0,31,13
371,4700,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987598,8455,8197,1,1,32,33
372,4701,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987599,8668,9850,3,0,35,13
373,4702,1729,1729,2015/2016,38,2016-05-17 00:00:00,1987600,10260,8678,3,1,27,22
374,4703,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987601,10261,8586,5,1,32,34
375,4704,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987602,8466,9826,4,1,39,20
376,4705,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987603,10194,8654,2,1,22,31
377,4706,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987604,10003,8456,1,1,20,24
378,4707,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987605,9817,8472,2,2,20,25
379,4708,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987606,8659,8650,1,1,20,30

In [12]:
simple_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 13 columns):
id                  380 non-null int64
country_id          380 non-null int64
league_id           380 non-null int64
season              380 non-null object
stage               380 non-null int64
date                380 non-null object
match_api_id        380 non-null int64
home_team_api_id    380 non-null int64
away_team_api_id    380 non-null int64
home_team_goal      380 non-null int64
away_team_goal      380 non-null int64
home_goals          380 non-null int64
away_goals          380 non-null int64
dtypes: int64(11), object(2)
memory usage: 38.7+ KB

In [13]:
simple_matches['home_wins'] = simple_matches.home_team_goal > simple_matches.away_team_goal
simple_matches['draws'] = simple_matches.home_team_goal == simple_matches.away_team_goal
simple_matches['away_wins'] = simple_matches.home_team_goal < simple_matches.away_team_goal
simple_matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home_wins,draws,away_wins
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2,0,2,False,False,True
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1,0,1,False,False,True
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2,2,2,False,True,False
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2,2,2,False,True,False
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2,4,2,True,False,False
5,4394,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987037,10260,8586,1,0,1,0,True,False,False
6,4395,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987038,10261,8466,2,2,2,2,False,True,False
7,4396,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987039,9850,9826,1,3,1,3,False,False,True
8,4397,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987040,10194,8650,0,1,0,1,False,False,True
9,4398,1729,1729,2015/2016,1,2015-08-10 00:00:00,1987041,8659,8456,0,3,0,3,False,False,True
10,4499,1729,1729,2015/2016,2,2015-08-14 00:00:00,1987078,10252,10260,0,1,0,1,False,False,True
11,4500,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987079,9826,9825,1,2,1,2,False,False,True
12,4501,1729,1729,2015/2016,2,2015-08-17 00:00:00,1987080,8650,8678,1,0,1,0,True,False,False
13,4502,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987081,8456,8455,3,0,3,0,True,False,False
14,4503,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987082,8466,8668,0,3,0,3,False,False,True
15,4504,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987083,8472,9850,1,3,1,3,False,False,True
16,4505,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987084,10003,10261,2,0,2,0,True,False,False
17,4506,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987085,8586,10194,2,2,2,2,False,True,False
18,4507,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987086,9817,8659,0,0,0,0,False,True,False
19,4508,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987087,8654,8197,1,2,1,2,False,False,True
20,4609,1729,1729,2015/2016,3,2015-08-24 00:00:00,1988730,9825,8650,0,0,0,1,False,True,False
21,4610,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988731,9826,10252,2,1,3,2,True,False,False
22,4611,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988732,8668,8456,0,2,2,5,False,False,True
23,4612,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988733,8197,8586,1,1,5,1,False,True,False
24,4613,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988734,10260,10261,0,0,1,0,False,True,False
25,4614,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988735,9850,10194,1,1,2,3,False,True,False
26,4615,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988736,8472,10003,1,1,2,3,False,True,False
27,4616,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988737,9817,8466,0,0,0,2,False,True,False
28,4617,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988738,8659,8455,2,3,2,3,False,False,True
29,4618,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988739,8654,8678,3,4,4,4,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,4679,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989060,9825,9850,1,0,27,13,True,False,False
351,4680,1729,1729,2015/2016,36,2016-05-02 00:00:00,1989061,8455,8586,2,2,31,33,False,True,False
352,4681,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989062,8668,8678,2,1,32,21,True,False,False
353,4682,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989063,10260,8197,1,1,24,32,False,True,False
354,4683,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989064,10261,9826,1,0,27,19,True,False,False
355,4684,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989065,8466,8456,4,2,35,23,True,False,False
356,4685,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989066,10194,8472,1,1,20,23,False,True,False
357,4686,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989067,10003,8650,3,1,19,29,True,False,False
358,4687,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989068,9817,10252,3,2,18,13,True,False,False
359,4688,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989069,8659,8654,0,3,19,30,False,False,True
360,4689,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989070,10252,10261,0,0,14,12,False,True,False
361,4690,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989071,8678,8659,1,1,23,14,False,True,False
362,4691,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989072,9826,10194,2,1,19,19,True,False,False
363,4692,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989073,8197,8668,3,1,35,24,True,False,False
364,4693,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989074,8650,9817,2,0,33,20,True,False,False
365,4694,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989075,8456,9825,2,2,47,34,False,True,False
366,4695,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989076,9850,10260,0,1,26,22,False,False,True
367,4696,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989077,8472,8455,3,2,23,27,True,False,False
368,4697,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989078,8586,8466,1,2,35,20,False,False,True
369,4698,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989079,8654,10003,1,4,34,22,False,False,True
370,4699,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987597,9825,10252,4,0,31,13,True,False,False
371,4700,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987598,8455,8197,1,1,32,33,False,True,False
372,4701,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987599,8668,9850,3,0,35,13,True,False,False
373,4702,1729,1729,2015/2016,38,2016-05-17 00:00:00,1987600,10260,8678,3,1,27,22,True,False,False
374,4703,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987601,10261,8586,5,1,32,34,True,False,False
375,4704,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987602,8466,9826,4,1,39,20,True,False,False
376,4705,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987603,10194,8654,2,1,22,31,True,False,False
377,4706,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987604,10003,8456,1,1,20,24,False,True,False
378,4707,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987605,9817,8472,2,2,20,25,False,True,False
379,4708,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987606,8659,8650,1,1,20,30,False,True,False

In [14]:
# convert booleans into binary numbers 
simple_matches['home_wins'] = simple_matches['home_wins'].astype(int)
simple_matches['draws'] = simple_matches['draws'].astype(int)
simple_matches['away_wins'] = simple_matches['away_wins'].astype(int)

In [15]:
simple_matches.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home_wins,draws,away_wins
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2,0,2,0,0,1
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1,0,1,0,0,1
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2,2,2,0,1,0
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2,2,2,0,1,0
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2,4,2,1,0,0

In [16]:
# create cumulative home, draw and away wins grouping by each team id

simple_matches['cumulative_home_wins_home'] = simple_matches.groupby('home_team_api_id')['home_wins'].cumsum().fillna(0)
simple_matches['cumulative_away_wins_home'] = simple_matches.groupby('home_team_api_id')['home_wins'].cumsum().fillna(0)
simple_matches['cumulative_home_wins_away'] = simple_matches.groupby('away_team_api_id')['away_wins'].cumsum().fillna(0)
# simple_matches['cumulative_draws'] = simple_matches.groupby('home_team_api_id')['draws'].cumsum().fillna(0)
simple_matches['cumulative_away_wins_away'] = simple_matches.groupby('away_team_api_id')['away_wins'].cumsum().fillna(0)

In [17]:
simple_matches.tail(20)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home_wins,draws,away_wins,cumulative_home_wins_home,cumulative_away_wins_home,cumulative_home_wins_away,cumulative_away_wins_away
360,4689,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989070,10252,10261,0,0,14,12,0,1,0,2,2,2,2
361,4690,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989071,8678,8659,1,1,23,14,0,1,0,5,5,4,4
362,4691,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989072,9826,10194,2,1,19,19,1,0,0,6,6,6,6
363,4692,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989073,8197,8668,3,1,35,24,1,0,0,12,12,5,5
364,4693,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989074,8650,9817,2,0,33,20,1,0,0,8,8,6,6
365,4694,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989075,8456,9825,2,2,47,34,0,1,0,12,12,8,8
366,4695,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989076,9850,10260,0,1,26,22,0,0,1,6,6,7,7
367,4696,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989077,8472,8455,3,2,23,27,1,0,0,6,6,7,7
368,4697,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989078,8586,8466,1,2,35,20,0,0,1,10,10,7,7
369,4698,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989079,8654,10003,1,4,34,22,0,0,1,9,9,4,4
370,4699,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987597,9825,10252,4,0,31,13,1,0,0,12,12,1,1
371,4700,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987598,8455,8197,1,1,32,33,0,1,0,5,5,11,11
372,4701,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987599,8668,9850,3,0,35,13,1,0,0,6,6,3,3
373,4702,1729,1729,2015/2016,38,2016-05-17 00:00:00,1987600,10260,8678,3,1,27,22,1,0,0,12,12,6,6
374,4703,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987601,10261,8586,5,1,32,34,1,0,0,7,7,9,9
375,4704,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987602,8466,9826,4,1,39,20,1,0,0,11,11,5,5
376,4705,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987603,10194,8654,2,1,22,31,1,0,0,8,8,7,7
377,4706,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987604,10003,8456,1,1,20,24,0,1,0,8,8,7,7
378,4707,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987605,9817,8472,2,2,20,25,0,1,0,6,6,3,3
379,4708,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987606,8659,8650,1,1,20,30,0,1,0,6,6,8,8

## Day two - Comparing bets (2015/2016)

The goal of today is to find a baseline betting profit and loss for our model to compare with.

From the data set we are going to look at the odds offered by the betting firm Ladbrokes on home win, away win and draw.

- Placing a ten pound bet on the favourite (team with lowest odds).
- Placing a ten pound bet on the Home team every time.
- Placing a ten pound bet on a draw every match.
- placing a ten pound bet on the underdog (team with highest odds).
- placing a ten pound bet on the away team.

Maximum loss is the ten pound stake - so after 380 matches worst case scenario is **£3800 down**.

### Import the betting data

In [18]:
import pandas as pd
import numpy as np 
import sqlite3

In [19]:
# create the file path (include two beatthebookies)
path = '/Users/georgebrockman/code/georgebrockman/beatthebookies/beatthebookies/data/database.sqlite'
# create the connection
conn = sqlite3.connect(path)
# create the cursor
cursor = conn.cursor()

In [20]:
matches = pd.read_sql("""SELECT m.id, 
                        m.season, m.stage, m.date, 
                        ht.team_long_name as home_team, at.team_long_name as away_team, m.home_team_goal, 
                        m.away_team_goal, LBH, LBD, LBA                                      
                        FROM Match as m
                        LEFT JOIN Team AS ht on ht.team_api_id = m.home_team_api_id
                        LEFT JOIN Team AS at on at.team_api_id = m.away_team_api_id
                        WHERE league_id = 1729 AND season = '2015/2016'
                        ;""", conn)

In [21]:
# sort matches in to cronological order
matches.sort_values('date', inplace=True)

In [22]:
# check correctly imported the required data
matches.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,LBH,LBD,LBA
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,2.05,3.3,4.0
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,1.40,4.5,10.0
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,1.75,3.8,5.0
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,2.00,3.4,4.2
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1.67,4.0,5.5

In [23]:
# create booleans
matches['home_win'] = matches.home_team_goal > matches.away_team_goal
matches['draw'] = matches.home_team_goal == matches.away_team_goal
matches['away_win'] = matches.home_team_goal < matches.away_team_goal

In [24]:
# convert booleans into binary numbers 
matches['home_win'] = matches['home_win'].astype(int)
matches['draw'] = matches['draw'].astype(int)
matches['away_win'] = matches['away_win'].astype(int)

### Profit from betting on favourite

In [25]:
matches['fav_profit'] = -10

In [26]:
matches.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,LBH,LBD,LBA,home_win,draw,away_win,fav_profit
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,2.05,3.3,4.0,0,0,1,-10
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,1.40,4.5,10.0,0,1,0,-10
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,1.75,3.8,5.0,0,1,0,-10
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,2.00,3.4,4.2,1,0,0,-10
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1.67,4.0,5.5,1,0,0,-10

In [29]:
matches.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == matches['LBH']) & (matches['home_win'] == 1), 'fav_profit'] = matches['LBH'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == matches['LBD']) & (matches['draw'] == 1), 'fav_profit'] = matches['LBD'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == matches['LBA']) & (matches['away_win'] == 1), 'fav_profit'] = matches['LBA'] * 10

In [30]:
matches

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,LBH,LBD,LBA,home_win,draw,away_win,fav_profit
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,2.05,3.30,4.00,0,0,1,-10.0
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,1.40,4.50,10.00,0,1,0,-10.0
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,1.75,3.80,5.00,0,1,0,-10.0
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,2.00,3.40,4.20,1,0,0,20.0
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1.67,4.00,5.50,1,0,0,16.7
7,4396,2015/2016,1,2015-08-08 00:00:00,Norwich City,Crystal Palace,1,3,2.62,3.20,2.90,0,0,1,-10.0
0,4389,2015/2016,1,2015-08-09 00:00:00,Arsenal,West Ham United,0,2,1.29,5.50,12.00,0,0,1,-10.0
6,4395,2015/2016,1,2015-08-09 00:00:00,Newcastle United,Southampton,2,2,2.88,3.30,2.60,0,1,0,-10.0
8,4397,2015/2016,1,2015-08-09 00:00:00,Stoke City,Liverpool,0,1,3.40,3.30,2.30,0,0,1,23.0
9,4398,2015/2016,1,2015-08-10 00:00:00,West Bromwich Albion,Manchester City,0,3,5.50,3.75,1.67,0,0,1,16.7
110,4499,2015/2016,2,2015-08-14 00:00:00,Aston Villa,Manchester United,0,1,5.50,3.60,1.73,0,0,1,17.3
114,4503,2015/2016,2,2015-08-15 00:00:00,Southampton,Everton,0,3,2.00,3.30,4.33,0,0,1,-10.0
115,4504,2015/2016,2,2015-08-15 00:00:00,Sunderland,Norwich City,1,3,2.40,3.30,3.10,0,0,1,-10.0
116,4505,2015/2016,2,2015-08-15 00:00:00,Swansea City,Newcastle United,2,0,1.95,3.50,4.20,1,0,0,19.5
117,4506,2015/2016,2,2015-08-15 00:00:00,Tottenham Hotspur,Stoke City,2,2,1.80,3.75,4.75,0,1,0,-10.0
118,4507,2015/2016,2,2015-08-15 00:00:00,Watford,West Bromwich Albion,0,0,2.30,3.40,3.20,0,1,0,-10.0
119,4508,2015/2016,2,2015-08-15 00:00:00,West Ham United,Leicester City,1,2,2.25,3.40,3.30,0,0,1,-10.0
111,4500,2015/2016,2,2015-08-16 00:00:00,Crystal Palace,Arsenal,1,2,5.00,3.75,1.75,0,0,1,17.5
113,4502,2015/2016,2,2015-08-16 00:00:00,Manchester City,Chelsea,3,0,2.10,3.40,3.75,1,0,0,21.0
112,4501,2015/2016,2,2015-08-17 00:00:00,Liverpool,Bournemouth,1,0,1.45,4.50,7.50,1,0,0,14.5
229,4618,2015/2016,3,2015-08-22 00:00:00,West Ham United,Bournemouth,3,4,2.38,3.40,3.20,0,0,1,-10.0
225,4614,2015/2016,3,2015-08-22 00:00:00,Norwich City,Stoke City,1,1,2.40,3.30,3.20,0,1,0,-10.0
224,4613,2015/2016,3,2015-08-22 00:00:00,Manchester United,Newcastle United,0,0,1.36,5.00,9.50,0,1,0,-10.0
226,4615,2015/2016,3,2015-08-22 00:00:00,Sunderland,Swansea City,1,1,4.00,3.25,2.10,0,1,0,-10.0
221,4610,2015/2016,3,2015-08-22 00:00:00,Crystal Palace,Aston Villa,2,1,1.85,3.50,4.50,1,0,0,18.5
223,4612,2015/2016,3,2015-08-22 00:00:00,Leicester City,Tottenham Hotspur,1,1,2.70,3.40,2.70,0,1,0,-10.0
222,4611,2015/2016,3,2015-08-23 00:00:00,Everton,Manchester City,0,2,5.00,4.00,1.73,0,0,1,17.3
227,4616,2015/2016,3,2015-08-23 00:00:00,Watford,Southampton,0,0,2.75,3.30,2.70,0,1,0,-10.0
228,4617,2015/2016,3,2015-08-23 00:00:00,West Bromwich Albion,Chelsea,2,3,6.00,3.75,1.67,0,0,1,16.7
220,4609,2015/2016,3,2015-08-24 00:00:00,Arsenal,Liverpool,0,0,1.75,3.75,5.00,0,1,0,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,4679,2015/2016,36,2016-04-30 00:00:00,Arsenal,Norwich City,1,0,1.25,5.75,12.00,1,0,0,12.5
294,4683,2015/2016,36,2016-04-30 00:00:00,Newcastle United,Crystal Palace,1,0,2.00,3.30,3.75,1,0,0,20.0
295,4684,2015/2016,36,2016-05-01 00:00:00,Southampton,Manchester City,4,2,2.62,3.30,2.62,1,0,0,26.2
293,4682,2015/2016,36,2016-05-01 00:00:00,Manchester United,Leicester City,1,1,2.00,3.30,3.80,0,1,0,-10.0
297,4686,2015/2016,36,2016-05-01 00:00:00,Swansea City,Liverpool,3,1,3.00,3.40,2.30,1,0,0,-10.0
291,4680,2015/2016,36,2016-05-02 00:00:00,Chelsea,Tottenham Hotspur,2,2,2.62,3.40,2.60,0,1,0,-10.0
300,4689,2015/2016,37,2016-05-07 00:00:00,Aston Villa,Newcastle United,0,0,5.50,4.00,1.65,0,1,0,-10.0
301,4690,2015/2016,37,2016-05-07 00:00:00,Bournemouth,West Bromwich Albion,1,1,1.95,3.50,4.33,0,1,0,-10.0
302,4691,2015/2016,37,2016-05-07 00:00:00,Crystal Palace,Stoke City,2,1,2.10,3.40,3.80,1,0,0,21.0
303,4692,2015/2016,37,2016-05-07 00:00:00,Leicester City,Everton,3,1,1.90,3.75,4.20,1,0,0,19.0
309,4698,2015/2016,37,2016-05-07 00:00:00,West Ham United,Swansea City,1,4,1.44,4.75,8.00,0,0,1,-10.0
307,4696,2015/2016,37,2016-05-07 00:00:00,Sunderland,Chelsea,3,2,3.00,3.50,2.45,1,0,0,-10.0
306,4695,2015/2016,37,2016-05-07 00:00:00,Norwich City,Manchester United,0,1,4.33,3.60,1.91,0,0,1,19.1
305,4694,2015/2016,37,2016-05-08 00:00:00,Manchester City,Arsenal,2,2,2.50,3.50,2.90,0,1,0,-10.0
308,4697,2015/2016,37,2016-05-08 00:00:00,Tottenham Hotspur,Southampton,1,2,2.00,3.60,4.00,0,0,1,-10.0
304,4693,2015/2016,37,2016-05-08 00:00:00,Liverpool,Watford,2,0,1.53,4.50,6.50,1,0,0,15.3
289,4678,2015/2016,35,2016-05-10 00:00:00,West Ham United,Manchester United,3,2,3.00,3.40,2.45,1,0,0,-10.0
286,4675,2015/2016,35,2016-05-11 00:00:00,Norwich City,Watford,4,2,1.80,3.60,4.33,1,0,0,18.0
234,4623,2015/2016,30,2016-05-11 00:00:00,Liverpool,Chelsea,1,1,1.91,3.60,3.60,0,1,0,-10.0
238,4627,2015/2016,30,2016-05-11 00:00:00,Sunderland,Everton,3,0,1.70,3.80,4.75,1,0,0,17.0
319,4708,2015/2016,38,2016-05-15 00:00:00,West Bromwich Albion,Liverpool,1,1,2.40,3.60,2.90,0,1,0,-10.0
318,4707,2015/2016,38,2016-05-15 00:00:00,Watford,Sunderland,2,2,2.05,3.75,3.60,0,1,0,-10.0
317,4706,2015/2016,38,2016-05-15 00:00:00,Swansea City,Manchester City,1,1,6.50,4.33,1.53,0,1,0,-10.0
316,4705,2015/2016,38,2016-05-15 00:00:00,Stoke City,West Ham United,2,1,3.40,3.75,2.10,1,0,0,-10.0
314,4703,2015/2016,38,2016-05-15 00:00:00,Newcastle United,Tottenham Hotspur,5,1,4.33,4.00,1.80,1,0,0,-10.0
312,4701,2015/2016,38,2016-05-15 00:00:00,Everton,Norwich City,3,0,1.80,4.20,4.20,1,0,0,18.0
311,4700,2015/2016,38,2016-05-15 00:00:00,Chelsea,Leicester City,1,1,2.30,3.75,3.00,0,1,0,-10.0
310,4699,2015/2016,38,2016-05-15 00:00:00,Arsenal,Aston Villa,4,0,1.15,9.00,19.00,1,0,0,11.5
315,4704,2015/2016,38,2016-05-15 00:00:00,Southampton,Crystal Palace,4,1,1.33,5.50,9.50,1,0,0,13.3
313,4702,2015/2016,38,2016-05-17 00:00:00,Manchester United,Bournemouth,3,1,1.65,3.80,5.25,1,0,0,16.5

### Profit betting on Underdog

In [31]:
matches['dog_profit'] = -10

In [32]:
matches.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == matches['LBH']) & (matches['home_win'] == 1), 'dog_profit'] = matches['LBH'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == matches['LBD']) & (matches['draw'] == 1), 'dog_profit'] = matches['LBD'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == matches['LBA']) & (matches['away_win'] == 1), 'dog_profit'] = matches['LBA'] * 10

In [33]:
matches.head()

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,LBH,LBD,LBA,home_win,draw,away_win,fav_profit,dog_profit
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,2.05,3.3,4.0,0,0,1,-10.0,40.0
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,1.40,4.5,10.0,0,1,0,-10.0,-10.0
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,1.75,3.8,5.0,0,1,0,-10.0,-10.0
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,2.00,3.4,4.2,1,0,0,20.0,-10.0
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1.67,4.0,5.5,1,0,0,16.7,-10.0

### Profit from Home / Draw / Away

In [34]:
matches['home_profit'] = -10

In [35]:
matches.loc[(matches['home_win'] == 1), 'home_profit'] = matches['LBH'] * 10

In [37]:
matches['draw_profit'] = -10

In [38]:
matches.loc[(matches['draw'] == 1), 'draw_profit'] = matches['LBD'] * 10

In [39]:
matches['away_profit'] = -10

In [40]:
matches.loc[(matches['away_win'] == 1), 'away_profit'] = matches['LBA'] * 10

In [70]:
matches.sort_values('date', inplace=True)

In [75]:
matches

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,LBH,LBD,LBA,home_win,draw,away_win,fav_profit,dog_profit,home_profit,draw_profit,away_profit
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,2.05,3.30,4.00,0,0,1,-10.0,40.0,-10.0,-10.0,40.0
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,1.40,4.50,10.00,0,1,0,-10.0,-10.0,-10.0,45.0,-10.0
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,1.75,3.80,5.00,0,1,0,-10.0,-10.0,-10.0,38.0,-10.0
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,2.00,3.40,4.20,1,0,0,20.0,-10.0,20.0,-10.0,-10.0
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1.67,4.00,5.50,1,0,0,16.7,-10.0,16.7,-10.0,-10.0
7,4396,2015/2016,1,2015-08-08 00:00:00,Norwich City,Crystal Palace,1,3,2.62,3.20,2.90,0,0,1,-10.0,-10.0,-10.0,-10.0,29.0
0,4389,2015/2016,1,2015-08-09 00:00:00,Arsenal,West Ham United,0,2,1.29,5.50,12.00,0,0,1,-10.0,120.0,-10.0,-10.0,120.0
6,4395,2015/2016,1,2015-08-09 00:00:00,Newcastle United,Southampton,2,2,2.88,3.30,2.60,0,1,0,-10.0,33.0,-10.0,33.0,-10.0
8,4397,2015/2016,1,2015-08-09 00:00:00,Stoke City,Liverpool,0,1,3.40,3.30,2.30,0,0,1,23.0,-10.0,-10.0,-10.0,23.0
9,4398,2015/2016,1,2015-08-10 00:00:00,West Bromwich Albion,Manchester City,0,3,5.50,3.75,1.67,0,0,1,16.7,-10.0,-10.0,-10.0,16.7
110,4499,2015/2016,2,2015-08-14 00:00:00,Aston Villa,Manchester United,0,1,5.50,3.60,1.73,0,0,1,17.3,-10.0,-10.0,-10.0,17.3
116,4505,2015/2016,2,2015-08-15 00:00:00,Swansea City,Newcastle United,2,0,1.95,3.50,4.20,1,0,0,19.5,-10.0,19.5,-10.0,-10.0
115,4504,2015/2016,2,2015-08-15 00:00:00,Sunderland,Norwich City,1,3,2.40,3.30,3.10,0,0,1,-10.0,-10.0,-10.0,-10.0,31.0
114,4503,2015/2016,2,2015-08-15 00:00:00,Southampton,Everton,0,3,2.00,3.30,4.33,0,0,1,-10.0,43.3,-10.0,-10.0,43.3
119,4508,2015/2016,2,2015-08-15 00:00:00,West Ham United,Leicester City,1,2,2.25,3.40,3.30,0,0,1,-10.0,-10.0,-10.0,-10.0,33.0
118,4507,2015/2016,2,2015-08-15 00:00:00,Watford,West Bromwich Albion,0,0,2.30,3.40,3.20,0,1,0,-10.0,34.0,-10.0,34.0,-10.0
117,4506,2015/2016,2,2015-08-15 00:00:00,Tottenham Hotspur,Stoke City,2,2,1.80,3.75,4.75,0,1,0,-10.0,-10.0,-10.0,37.5,-10.0
111,4500,2015/2016,2,2015-08-16 00:00:00,Crystal Palace,Arsenal,1,2,5.00,3.75,1.75,0,0,1,17.5,-10.0,-10.0,-10.0,17.5
113,4502,2015/2016,2,2015-08-16 00:00:00,Manchester City,Chelsea,3,0,2.10,3.40,3.75,1,0,0,21.0,-10.0,21.0,-10.0,-10.0
112,4501,2015/2016,2,2015-08-17 00:00:00,Liverpool,Bournemouth,1,0,1.45,4.50,7.50,1,0,0,14.5,-10.0,14.5,-10.0,-10.0
229,4618,2015/2016,3,2015-08-22 00:00:00,West Ham United,Bournemouth,3,4,2.38,3.40,3.20,0,0,1,-10.0,-10.0,-10.0,-10.0,32.0
224,4613,2015/2016,3,2015-08-22 00:00:00,Manchester United,Newcastle United,0,0,1.36,5.00,9.50,0,1,0,-10.0,-10.0,-10.0,50.0,-10.0
225,4614,2015/2016,3,2015-08-22 00:00:00,Norwich City,Stoke City,1,1,2.40,3.30,3.20,0,1,0,-10.0,33.0,-10.0,33.0,-10.0
223,4612,2015/2016,3,2015-08-22 00:00:00,Leicester City,Tottenham Hotspur,1,1,2.70,3.40,2.70,0,1,0,-10.0,34.0,-10.0,34.0,-10.0
221,4610,2015/2016,3,2015-08-22 00:00:00,Crystal Palace,Aston Villa,2,1,1.85,3.50,4.50,1,0,0,18.5,-10.0,18.5,-10.0,-10.0
226,4615,2015/2016,3,2015-08-22 00:00:00,Sunderland,Swansea City,1,1,4.00,3.25,2.10,0,1,0,-10.0,-10.0,-10.0,32.5,-10.0
222,4611,2015/2016,3,2015-08-23 00:00:00,Everton,Manchester City,0,2,5.00,4.00,1.73,0,0,1,17.3,-10.0,-10.0,-10.0,17.3
227,4616,2015/2016,3,2015-08-23 00:00:00,Watford,Southampton,0,0,2.75,3.30,2.70,0,1,0,-10.0,33.0,-10.0,33.0,-10.0
228,4617,2015/2016,3,2015-08-23 00:00:00,West Bromwich Albion,Chelsea,2,3,6.00,3.75,1.67,0,0,1,16.7,-10.0,-10.0,-10.0,16.7
220,4609,2015/2016,3,2015-08-24 00:00:00,Arsenal,Liverpool,0,0,1.75,3.75,5.00,0,1,0,-10.0,-10.0,-10.0,37.5,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,4679,2015/2016,36,2016-04-30 00:00:00,Arsenal,Norwich City,1,0,1.25,5.75,12.00,1,0,0,12.5,-10.0,12.5,-10.0,-10.0
294,4683,2015/2016,36,2016-04-30 00:00:00,Newcastle United,Crystal Palace,1,0,2.00,3.30,3.75,1,0,0,20.0,-10.0,20.0,-10.0,-10.0
295,4684,2015/2016,36,2016-05-01 00:00:00,Southampton,Manchester City,4,2,2.62,3.30,2.62,1,0,0,26.2,-10.0,26.2,-10.0,-10.0
293,4682,2015/2016,36,2016-05-01 00:00:00,Manchester United,Leicester City,1,1,2.00,3.30,3.80,0,1,0,-10.0,-10.0,-10.0,33.0,-10.0
297,4686,2015/2016,36,2016-05-01 00:00:00,Swansea City,Liverpool,3,1,3.00,3.40,2.30,1,0,0,-10.0,-10.0,30.0,-10.0,-10.0
291,4680,2015/2016,36,2016-05-02 00:00:00,Chelsea,Tottenham Hotspur,2,2,2.62,3.40,2.60,0,1,0,-10.0,34.0,-10.0,34.0,-10.0
300,4689,2015/2016,37,2016-05-07 00:00:00,Aston Villa,Newcastle United,0,0,5.50,4.00,1.65,0,1,0,-10.0,-10.0,-10.0,40.0,-10.0
301,4690,2015/2016,37,2016-05-07 00:00:00,Bournemouth,West Bromwich Albion,1,1,1.95,3.50,4.33,0,1,0,-10.0,-10.0,-10.0,35.0,-10.0
302,4691,2015/2016,37,2016-05-07 00:00:00,Crystal Palace,Stoke City,2,1,2.10,3.40,3.80,1,0,0,21.0,-10.0,21.0,-10.0,-10.0
303,4692,2015/2016,37,2016-05-07 00:00:00,Leicester City,Everton,3,1,1.90,3.75,4.20,1,0,0,19.0,-10.0,19.0,-10.0,-10.0
309,4698,2015/2016,37,2016-05-07 00:00:00,West Ham United,Swansea City,1,4,1.44,4.75,8.00,0,0,1,-10.0,80.0,-10.0,-10.0,80.0
307,4696,2015/2016,37,2016-05-07 00:00:00,Sunderland,Chelsea,3,2,3.00,3.50,2.45,1,0,0,-10.0,-10.0,30.0,-10.0,-10.0
306,4695,2015/2016,37,2016-05-07 00:00:00,Norwich City,Manchester United,0,1,4.33,3.60,1.91,0,0,1,19.1,-10.0,-10.0,-10.0,19.1
305,4694,2015/2016,37,2016-05-08 00:00:00,Manchester City,Arsenal,2,2,2.50,3.50,2.90,0,1,0,-10.0,35.0,-10.0,35.0,-10.0
308,4697,2015/2016,37,2016-05-08 00:00:00,Tottenham Hotspur,Southampton,1,2,2.00,3.60,4.00,0,0,1,-10.0,40.0,-10.0,-10.0,40.0
304,4693,2015/2016,37,2016-05-08 00:00:00,Liverpool,Watford,2,0,1.53,4.50,6.50,1,0,0,15.3,-10.0,15.3,-10.0,-10.0
289,4678,2015/2016,35,2016-05-10 00:00:00,West Ham United,Manchester United,3,2,3.00,3.40,2.45,1,0,0,-10.0,-10.0,30.0,-10.0,-10.0
286,4675,2015/2016,35,2016-05-11 00:00:00,Norwich City,Watford,4,2,1.80,3.60,4.33,1,0,0,18.0,-10.0,18.0,-10.0,-10.0
234,4623,2015/2016,30,2016-05-11 00:00:00,Liverpool,Chelsea,1,1,1.91,3.60,3.60,0,1,0,-10.0,36.0,-10.0,36.0,-10.0
238,4627,2015/2016,30,2016-05-11 00:00:00,Sunderland,Everton,3,0,1.70,3.80,4.75,1,0,0,17.0,-10.0,17.0,-10.0,-10.0
319,4708,2015/2016,38,2016-05-15 00:00:00,West Bromwich Albion,Liverpool,1,1,2.40,3.60,2.90,0,1,0,-10.0,36.0,-10.0,36.0,-10.0
318,4707,2015/2016,38,2016-05-15 00:00:00,Watford,Sunderland,2,2,2.05,3.75,3.60,0,1,0,-10.0,37.5,-10.0,37.5,-10.0
317,4706,2015/2016,38,2016-05-15 00:00:00,Swansea City,Manchester City,1,1,6.50,4.33,1.53,0,1,0,-10.0,-10.0,-10.0,43.3,-10.0
315,4704,2015/2016,38,2016-05-15 00:00:00,Southampton,Crystal Palace,4,1,1.33,5.50,9.50,1,0,0,13.3,-10.0,13.3,-10.0,-10.0
316,4705,2015/2016,38,2016-05-15 00:00:00,Stoke City,West Ham United,2,1,3.40,3.75,2.10,1,0,0,-10.0,-10.0,34.0,-10.0,-10.0
312,4701,2015/2016,38,2016-05-15 00:00:00,Everton,Norwich City,3,0,1.80,4.20,4.20,1,0,0,18.0,-10.0,18.0,-10.0,-10.0
311,4700,2015/2016,38,2016-05-15 00:00:00,Chelsea,Leicester City,1,1,2.30,3.75,3.00,0,1,0,-10.0,37.5,-10.0,37.5,-10.0
310,4699,2015/2016,38,2016-05-15 00:00:00,Arsenal,Aston Villa,4,0,1.15,9.00,19.00,1,0,0,11.5,-10.0,11.5,-10.0,-10.0
314,4703,2015/2016,38,2016-05-15 00:00:00,Newcastle United,Tottenham Hotspur,5,1,4.33,4.00,1.80,1,0,0,-10.0,43.3,43.3,-10.0,-10.0
313,4702,2015/2016,38,2016-05-17 00:00:00,Manchester United,Bournemouth,3,1,1.65,3.80,5.25,1,0,0,16.5,-10.0,16.5,-10.0,-10.0

### Cumulative profit totals for each strategey

In [85]:
# define a function that returns the maximum profit from each strategy
def c_profits(X):
    fav_profit_cum = X['fav_profit'].cumsum().max()
    dog_profit_cum = X['dog_profit'].cumsum().max()
    home_profit_cum = X['home_profit'].cumsum().max()
    draw_profit_cum = X['draw_profit'].cumsum().max()
    away_profit_cum = X['away_profit'].cumsum().max()
    print(f"if you chose the favourite strategy, your total profit is £{fav_profit_cum}; the underdog approach: £{dog_profit_cum}; home approach: £{home_profit_cum}; draw method: £{draw_profit_cum}; away tactic: £{away_profit_cum}")

In [86]:
c_profits(matches)

if you chose the favourite strategy, your total profit is £1426.0000000000002; the underdog approach: £1766.8; home approach: £1155.6; draw method: £1157.8; away tactic: £1591.9