# Final Project - Beat the Bookies

## Day One - Initial Data Exploration

The goal of today is:

- Create repositories
- Add collaborators
- Add notebooks to the project
- Confirm primary data source
- Build a dataframe that includes all the relevant and desired data from our model (check google sheets for the columns). 


Using the dataset downloaded from kaggle (https://www.kaggle.com/hugomathien/soccer?) - exploring the data available for one season (2015/16) to combine the data into our own dataframe that includes the relevant information that we need for our models.

Colummns for the dataset:

- Home Team Rank
- Home Team Total Wins
- Home Team win
- Draw
- Away Team Win
- Away Team Rank

To add columns including possesion, reds, yellows, corners, shots at goal, shots on target, goal percentage, throw ins (?), fouls, free kicks. Later on when we know that we can combine the core of the table easily for all seasons.

Target:
- Home Team win y/n

### imports

In [ ]:
import pandas as pd
import numpy as np 
import sqlite3

### importing the data from sqlite

In [ ]:
# create the file path (include two beatthebookies)
path = '/Users/georgebrockman/code/georgebrockman/beatthebookies/beatthebookies/data/database.sqlite'
# create the connection
conn = sqlite3.connect(path)
# create the cursor
cursor = conn.cursor()

OperationalError: unable to open database file

In [ ]:
# from the match table we want to select all matches played in the English Premier league for the 2015/16 season.
# Premier League - league_id = 1729
# order by stages (Game Weeks)
# need quotes around '2015/2016'
result = cursor.execute(""" SELECT * FROM "Match" m 
                        WHERE league_id = 1729 
                        AND season = '2015/2016' 
                        ORDER BY stage ASC""")

NameError: name 'cursor' is not defined

In [ ]:
row = result.fetchall()
row[0] # seems to be a lot of null values for shots, s

In [ ]:
# create a DataFrame from the SQL query
matches_df = pd.read_sql(""" SELECT * FROM "Match" m 
                        WHERE league_id = 1729 
                        AND season = '2015/2016' 
                        ORDER BY stage ASC""", conn)

NameError: name 'conn' is not defined

In [ ]:
# inspect the DataFrame
matches_df.columns.values

In [ ]:
# we can remove all the ones not needed for home-away goal data
simple_matches = matches_df.drop(['home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1',
       'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5',
       'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9',
       'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA'], axis=1)

NameError: name 'matches_df' is not defined

In [ ]:
simple_matches.head(5)

In [ ]:
simple_matches['home_goals']= simple_matches.groupby('home_team_api_id')['home_team_goal'].cumsum().fillna(0)

In [ ]:
simple_matches['away_goals']= simple_matches.groupby('away_team_api_id')['away_team_goal'].cumsum().fillna(0)

In [ ]:
simple_matches

In [ ]:
simple_matches.info()

In [ ]:
simple_matches['home_wins'] = simple_matches.home_team_goal > simple_matches.away_team_goal
simple_matches['draws'] = simple_matches.home_team_goal == simple_matches.away_team_goal
simple_matches['away_wins'] = simple_matches.home_team_goal < simple_matches.away_team_goal
simple_matches

In [ ]:
# convert booleans into binary numbers 
simple_matches['home_wins'] = simple_matches['home_wins'].astype(int)
simple_matches['draws'] = simple_matches['draws'].astype(int)
simple_matches['away_wins'] = simple_matches['away_wins'].astype(int)

In [ ]:
simple_matches.head()

In [ ]:
# create cumulative home, draw and away wins grouping by each team id

simple_matches['cumulative_home_wins_home'] = simple_matches.groupby('home_team_api_id')['home_wins'].cumsum().fillna(0)
simple_matches['cumulative_away_wins_home'] = simple_matches.groupby('home_team_api_id')['home_wins'].cumsum().fillna(0)
simple_matches['cumulative_home_wins_away'] = simple_matches.groupby('away_team_api_id')['away_wins'].cumsum().fillna(0)
# simple_matches['cumulative_draws'] = simple_matches.groupby('home_team_api_id')['draws'].cumsum().fillna(0)
simple_matches['cumulative_away_wins_away'] = simple_matches.groupby('away_team_api_id')['away_wins'].cumsum().fillna(0)

In [ ]:
simple_matches.tail(20)

## Day two - Comparing bets (2015/2016)

The goal of today is to find a baseline betting profit and loss for our model to compare with.

From the data set we are going to look at the odds offered by the betting firm Ladbrokes on home win, away win and draw.

- Placing a ten pound bet on the favourite (team with lowest odds).
- Placing a ten pound bet on the Home team every time.
- Placing a ten pound bet on a draw every match.
- placing a ten pound bet on the underdog (team with highest odds).
- placing a ten pound bet on the away team.

Maximum loss is the ten pound stake - so after 380 matches worst case scenario is **£3800 down**.

### Import the betting data

In [3]:
import pandas as pd
import numpy as np 
import sqlite3

In [ ]:
# create the file path (include two beatthebookies)
path = '/Users/georgebrockman/code/georgebrockman/beatthebookies/beatthebookies/data/database.sqlite'
# create the connection
conn = sqlite3.connect(path)
# create the cursor
cursor = conn.cursor()

In [ ]:
# use joining tables to keep the team names for better clarity
matches = pd.read_sql("""SELECT m.id, 
                        m.season, m.stage, m.date, 
                        ht.team_long_name as home_team, at.team_long_name as away_team, m.home_team_goal, 
                        m.away_team_goal, LBH, LBD, LBA                                      
                        FROM Match as m
                        LEFT JOIN Team AS ht on ht.team_api_id = m.home_team_api_id
                        LEFT JOIN Team AS at on at.team_api_id = m.away_team_api_id
                        WHERE league_id = 1729 AND season = '2015/2016'
                        ;""", conn)

In [ ]:
# sort matches in to cronological order
matches.sort_values('date', inplace=True)

In [ ]:
# check correctly imported the required data
matches.head()

In [ ]:
# create booleans
matches['home_win'] = matches.home_team_goal > matches.away_team_goal
matches['draw'] = matches.home_team_goal == matches.away_team_goal
matches['away_win'] = matches.home_team_goal < matches.away_team_goal

In [ ]:
# convert booleans into binary numbers 
matches['home_win'] = matches['home_win'].astype(int)
matches['draw'] = matches['draw'].astype(int)
matches['away_win'] = matches['away_win'].astype(int)

### Profit from betting on favourite

In [ ]:
matches['fav_profit'] = -10

In [ ]:
matches.head()

In [ ]:
matches.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == matches['LBH']) & (matches['home_win'] == 1), 'fav_profit'] = matches['LBH'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == matches['LBD']) & (matches['draw'] == 1), 'fav_profit'] = matches['LBD'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == matches['LBA']) & (matches['away_win'] == 1), 'fav_profit'] = matches['LBA'] * 10

In [ ]:
matches

### Profit betting on Underdog

In [ ]:
matches['dog_profit'] = -10

In [ ]:
matches.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == matches['LBH']) & (matches['home_win'] == 1), 'dog_profit'] = matches['LBH'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == matches['LBD']) & (matches['draw'] == 1), 'dog_profit'] = matches['LBD'] * 10
matches.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == matches['LBA']) & (matches['away_win'] == 1), 'dog_profit'] = matches['LBA'] * 10

In [ ]:
matches.head()

### Profit from Home / Draw / Away

In [ ]:
matches['home_profit'] = -10

In [ ]:
matches.loc[(matches['home_win'] == 1), 'home_profit'] = matches['LBH'] * 10

In [ ]:
matches['draw_profit'] = -10

In [ ]:
matches.loc[(matches['draw'] == 1), 'draw_profit'] = matches['LBD'] * 10

In [ ]:
matches['away_profit'] = -10

In [ ]:
matches.loc[(matches['away_win'] == 1), 'away_profit'] = matches['LBA'] * 10

In [ ]:
matches.sort_values('date', inplace=True)

In [ ]:
matches

### Cumulative profit totals for each strategey

In [ ]:
# define a function that returns the maximum profit from each strategy
def c_profits(X):
    fav_profit_cum = X['fav_profit'].sum()
    dog_profit_cum = X['dog_profit'].sum()
    home_profit_cum = X['home_profit'].sum()
    draw_profit_cum = X['draw_profit'].sum()
    away_profit_cum = X['away_profit'].sum()
    return fav_profit_cum, dog_profit_cum, home_profit_cum,draw_profit_cum, away_profit_cum

In [ ]:
matches['away_profit'].cumsum().tail(1)

In [ ]:
c_profits(matches)

Very surpising that the underdog approach was the most profitable method of betting in this season but this was the year that Leicester City won the league.

### Reorganise methods into functions to apply to all the data

In [ ]:
# psuedo code
# import the data using get_data():
# this returns a table with home_w, away_w and draw already added so need to add the boolean and conversion.
# first function favourites method
# second function is underdog 
# third is home team 
# fourth is draw
# fifth allways bet away.

In [ ]:
def pick_the_fav(X, season, bet=10):
    """
    function returns a dataframe that includes the weekly profit/loss for season followng the favourites strategy
    """
    # set defaults profit equal to bet size
    X['fav_profit'] = -bet
    # update profit column
    X.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == X['LBH']) & (X['home_w'] == 1), 'fav_profit'] = X['LBH'] * 10
    X.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == X['LBD']) & (X['draw'] == 1), 'fav_profit'] = X['LBD'] * 10
    X.loc[(matches[['LBH','LBD','LBA']].min(axis=1) == X['LBA']) & (X['away_w'] == 1), 'fav_profit'] = X['LBA'] * 10
    
    return X

In [ ]:
def pick_the_dog(X, season, bet=10):
    """
    function returns a dataframe that includes the weekly profit/loss for season followng the underdog strategy
    """
    # set defaults profit equal to bet size
    X['dog_profit'] = -bet
    # update profit column 
    X.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == X['LBH']) & (X['home_w'] == 1), 'dog_profit'] = X['LBH'] * 10
    X.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == X['LBD']) & (X['draw'] == 1), 'dog_profit'] = X['LBD'] * 10
    X.loc[(matches[['LBH','LBD','LBA']].max(axis=1) == X['LBA']) & (X['away_w'] == 1), 'dog_profit'] = X['LBA'] * 10
    
    return X

In [ ]:
def always_home(X, season, bet=10):
    """
    function returns a dataframe that includes the weekly profit/loss for season following the home team strategy
    """
    X['home_profit'] = -bet
    X.loc[(X['home_w'] == 1), 'home_profit'] = X['LBH'] * 10 
    
    return X

In [ ]:
def always_draw(X, season, bet=10):
    """
    function returns a dataframe that includes the weekly profit/loss for season following the home team strategy
    """
    X['draw_profit'] = -bet
    X.loc[(X['draw'] == 1), 'draw_profit'] = X['LBH'] * 10 
    
    return X

In [ ]:
def always_away(X, season, bet=10):
    """
    function returns a dataframe that includes the weekly profit/loss for season following the home team strategy
    """
    X['away_profit'] = -bet
    X.loc[(X['away_w'] == 1), 'away_profit'] = X['LBH'] * 10 
    
    return X

### test functions

In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
from beatthebookies.data import get_betting_data

In [1]:
def get_betting_data(season='2015/2016', league=1729, local=False, optimize=False, **kwargs):
    path = "../data/"
    database = path + 'database.sqlite'
    conn = sqlite3.connect(database)

    df = pd.read_sql("""SELECT m.id,
                            m.season, m.stage, m.date,
                            ht.team_long_name as home_team, at.team_long_name as away_team, m.home_team_goal,
                            m.away_team_goal, m.LBH, m.LBD, m.LBA 
                            FROM Match as m
                            LEFT JOIN Team AS ht on ht.team_api_id = m.home_team_api_id
                            LEFT JOIN Team AS at on at.team_api_id = m.away_team_api_id
                            WHERE league_id = :league AND season = :season
                            ;""", conn, params={"league":league, "season":season})
    # add win columns
    df['home_w'] = 0
    df['away_w'] = 0
    df['draw'] = 0
    # set winner
    df.loc[df['home_team_goal'] > df['away_team_goal'], 'home_w'] = 1
    df.loc[df['home_team_goal'] < df['away_team_goal'], 'away_w'] = 1
    df.loc[df['home_team_goal'] == df['away_team_goal'], 'draw'] = 1
    # sort into order
    df.sort_values('date', inplace=True)

    return df

In [4]:
betting = get_betting_data()

In [5]:
betting

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,LBH,LBD,LBA,home_w,away_w,draw
1,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,2.05,3.30,4.00,0,1,0
2,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,1.40,4.50,10.00,0,0,1
3,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,1.75,3.80,5.00,0,0,1
4,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,2.00,3.40,4.20,1,0,0
5,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1.67,4.00,5.50,1,0,0
7,4396,2015/2016,1,2015-08-08 00:00:00,Norwich City,Crystal Palace,1,3,2.62,3.20,2.90,0,1,0
0,4389,2015/2016,1,2015-08-09 00:00:00,Arsenal,West Ham United,0,2,1.29,5.50,12.00,0,1,0
6,4395,2015/2016,1,2015-08-09 00:00:00,Newcastle United,Southampton,2,2,2.88,3.30,2.60,0,0,1
8,4397,2015/2016,1,2015-08-09 00:00:00,Stoke City,Liverpool,0,1,3.40,3.30,2.30,0,1,0
9,4398,2015/2016,1,2015-08-10 00:00:00,West Bromwich Albion,Manchester City,0,3,5.50,3.75,1.67,0,1,0
110,4499,2015/2016,2,2015-08-14 00:00:00,Aston Villa,Manchester United,0,1,5.50,3.60,1.73,0,1,0
114,4503,2015/2016,2,2015-08-15 00:00:00,Southampton,Everton,0,3,2.00,3.30,4.33,0,1,0
115,4504,2015/2016,2,2015-08-15 00:00:00,Sunderland,Norwich City,1,3,2.40,3.30,3.10,0,1,0
116,4505,2015/2016,2,2015-08-15 00:00:00,Swansea City,Newcastle United,2,0,1.95,3.50,4.20,1,0,0
117,4506,2015/2016,2,2015-08-15 00:00:00,Tottenham Hotspur,Stoke City,2,2,1.80,3.75,4.75,0,0,1
118,4507,2015/2016,2,2015-08-15 00:00:00,Watford,West Bromwich Albion,0,0,2.30,3.40,3.20,0,0,1
119,4508,2015/2016,2,2015-08-15 00:00:00,West Ham United,Leicester City,1,2,2.25,3.40,3.30,0,1,0
111,4500,2015/2016,2,2015-08-16 00:00:00,Crystal Palace,Arsenal,1,2,5.00,3.75,1.75,0,1,0
113,4502,2015/2016,2,2015-08-16 00:00:00,Manchester City,Chelsea,3,0,2.10,3.40,3.75,1,0,0
112,4501,2015/2016,2,2015-08-17 00:00:00,Liverpool,Bournemouth,1,0,1.45,4.50,7.50,1,0,0
229,4618,2015/2016,3,2015-08-22 00:00:00,West Ham United,Bournemouth,3,4,2.38,3.40,3.20,0,1,0
225,4614,2015/2016,3,2015-08-22 00:00:00,Norwich City,Stoke City,1,1,2.40,3.30,3.20,0,0,1
224,4613,2015/2016,3,2015-08-22 00:00:00,Manchester United,Newcastle United,0,0,1.36,5.00,9.50,0,0,1
226,4615,2015/2016,3,2015-08-22 00:00:00,Sunderland,Swansea City,1,1,4.00,3.25,2.10,0,0,1
221,4610,2015/2016,3,2015-08-22 00:00:00,Crystal Palace,Aston Villa,2,1,1.85,3.50,4.50,1,0,0
223,4612,2015/2016,3,2015-08-22 00:00:00,Leicester City,Tottenham Hotspur,1,1,2.70,3.40,2.70,0,0,1
222,4611,2015/2016,3,2015-08-23 00:00:00,Everton,Manchester City,0,2,5.00,4.00,1.73,0,1,0
227,4616,2015/2016,3,2015-08-23 00:00:00,Watford,Southampton,0,0,2.75,3.30,2.70,0,0,1
228,4617,2015/2016,3,2015-08-23 00:00:00,West Bromwich Albion,Chelsea,2,3,6.00,3.75,1.67,0,1,0
220,4609,2015/2016,3,2015-08-24 00:00:00,Arsenal,Liverpool,0,0,1.75,3.75,5.00,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,4679,2015/2016,36,2016-04-30 00:00:00,Arsenal,Norwich City,1,0,1.25,5.75,12.00,1,0,0
294,4683,2015/2016,36,2016-04-30 00:00:00,Newcastle United,Crystal Palace,1,0,2.00,3.30,3.75,1,0,0
295,4684,2015/2016,36,2016-05-01 00:00:00,Southampton,Manchester City,4,2,2.62,3.30,2.62,1,0,0
293,4682,2015/2016,36,2016-05-01 00:00:00,Manchester United,Leicester City,1,1,2.00,3.30,3.80,0,0,1
297,4686,2015/2016,36,2016-05-01 00:00:00,Swansea City,Liverpool,3,1,3.00,3.40,2.30,1,0,0
291,4680,2015/2016,36,2016-05-02 00:00:00,Chelsea,Tottenham Hotspur,2,2,2.62,3.40,2.60,0,0,1
300,4689,2015/2016,37,2016-05-07 00:00:00,Aston Villa,Newcastle United,0,0,5.50,4.00,1.65,0,0,1
301,4690,2015/2016,37,2016-05-07 00:00:00,Bournemouth,West Bromwich Albion,1,1,1.95,3.50,4.33,0,0,1
302,4691,2015/2016,37,2016-05-07 00:00:00,Crystal Palace,Stoke City,2,1,2.10,3.40,3.80,1,0,0
303,4692,2015/2016,37,2016-05-07 00:00:00,Leicester City,Everton,3,1,1.90,3.75,4.20,1,0,0
309,4698,2015/2016,37,2016-05-07 00:00:00,West Ham United,Swansea City,1,4,1.44,4.75,8.00,0,1,0
307,4696,2015/2016,37,2016-05-07 00:00:00,Sunderland,Chelsea,3,2,3.00,3.50,2.45,1,0,0
306,4695,2015/2016,37,2016-05-07 00:00:00,Norwich City,Manchester United,0,1,4.33,3.60,1.91,0,1,0
305,4694,2015/2016,37,2016-05-08 00:00:00,Manchester City,Arsenal,2,2,2.50,3.50,2.90,0,0,1
308,4697,2015/2016,37,2016-05-08 00:00:00,Tottenham Hotspur,Southampton,1,2,2.00,3.60,4.00,0,1,0
304,4693,2015/2016,37,2016-05-08 00:00:00,Liverpool,Watford,2,0,1.53,4.50,6.50,1,0,0
289,4678,2015/2016,35,2016-05-10 00:00:00,West Ham United,Manchester United,3,2,3.00,3.40,2.45,1,0,0
286,4675,2015/2016,35,2016-05-11 00:00:00,Norwich City,Watford,4,2,1.80,3.60,4.33,1,0,0
234,4623,2015/2016,30,2016-05-11 00:00:00,Liverpool,Chelsea,1,1,1.91,3.60,3.60,0,0,1
238,4627,2015/2016,30,2016-05-11 00:00:00,Sunderland,Everton,3,0,1.70,3.80,4.75,1,0,0
319,4708,2015/2016,38,2016-05-15 00:00:00,West Bromwich Albion,Liverpool,1,1,2.40,3.60,2.90,0,0,1
318,4707,2015/2016,38,2016-05-15 00:00:00,Watford,Sunderland,2,2,2.05,3.75,3.60,0,0,1
317,4706,2015/2016,38,2016-05-15 00:00:00,Swansea City,Manchester City,1,1,6.50,4.33,1.53,0,0,1
316,4705,2015/2016,38,2016-05-15 00:00:00,Stoke City,West Ham United,2,1,3.40,3.75,2.10,1,0,0
314,4703,2015/2016,38,2016-05-15 00:00:00,Newcastle United,Tottenham Hotspur,5,1,4.33,4.00,1.80,1,0,0
312,4701,2015/2016,38,2016-05-15 00:00:00,Everton,Norwich City,3,0,1.80,4.20,4.20,1,0,0
311,4700,2015/2016,38,2016-05-15 00:00:00,Chelsea,Leicester City,1,1,2.30,3.75,3.00,0,0,1
310,4699,2015/2016,38,2016-05-15 00:00:00,Arsenal,Aston Villa,4,0,1.15,9.00,19.00,1,0,0
315,4704,2015/2016,38,2016-05-15 00:00:00,Southampton,Crystal Palace,4,1,1.33,5.50,9.50,1,0,0
313,4702,2015/2016,38,2016-05-17 00:00:00,Manchester United,Bournemouth,3,1,1.65,3.80,5.25,1,0,0

In [8]:
def simple_betting_profits(df, bet=10):
    """
    function returns the cumulative profits/loss from a season of following a consistent, simple betting strategy.
    """
    # set defaults profit equal to bet size
    # create new column for fav strategy
    df['fav_profit'] = -bet
    # update profit column
    df.loc[(df[['LBH','LBD','LBA']].min(axis=1) == df['LBH']) & (df['home_w'] == 1), 'fav_profit'] = (df['LBH'] * bet) - bet
    df.loc[(df[['LBH','LBD','LBA']].min(axis=1) == df['LBD']) & (df['draw'] == 1), 'fav_profit'] = (df['LBD'] * bet) - bet
    df.loc[(df[['LBH','LBD','LBA']].min(axis=1) == df['LBA']) & (df['away_w'] == 1), 'fav_profit'] = (df['LBA'] * bet) - bet

    # set defaults profit equal to bet size
    # create new column for underdog strategy
    df['dog_profit'] = -bet
    # update profit column
    df.loc[(df[['LBH','LBD','LBA']].max(axis=1) == df['LBH']) & (df['home_w'] == 1), 'dog_profit'] = (df['LBH'] * bet) - bet
    df.loc[(df[['LBH','LBD','LBA']].max(axis=1) == df['LBD']) & (df['draw'] == 1), 'dog_profit'] = (df['LBD'] * bet) - bet
    df.loc[(df[['LBH','LBD','LBA']].max(axis=1) == df['LBA']) & (df['away_w'] == 1), 'dog_profit'] = (df['LBA'] * bet) - bet

    # create new column for home team method
    df['home_profit'] = -bet
    df.loc[(df['home_w'] == 1), 'home_profit'] = (df['LBH'] * bet) - bet
    # create new column for draw tactic
    df['draw_profit'] = -bet
    df.loc[(df['draw'] == 1), 'draw_profit'] = (df['LBD'] * bet) - bet
    # create new column for betting on the away team
    df['away_profit'] = -bet
    df.loc[(df['away_w'] == 1), 'away_profit'] = (df['LBA'] * bet) - bet

    fav_profit_total = df['fav_profit'].sum()
    dog_profit_total = df['dog_profit'].sum()
    home_profit_total = df['home_profit'].sum()
    draw_profit_total = df['draw_profit'].sum()
    away_profit_total = df['away_profit'].sum()

    return fav_profit_total, dog_profit_total, home_profit_total, draw_profit_total, away_profit_total

In [9]:
simple_betting_profits(betting)

(-395.29999999999995, 707.0999999999999, -414.4, 57.8, 192.89999999999995)