# Final Project - Beat the Bookies

## Day One - Initial Data Exploration

The goal of today is:

- Create repositories
- Add collaborators
- Add notebooks to the project
- Confirm primary data source
- Build a dataframe that includes all the relevant and desired data from our model (check google sheets for the columns). 


Using the dataset downloaded from kaggle (https://www.kaggle.com/hugomathien/soccer?) - exploring the data available for one season (2015/16) to combine the data into our own dataframe that includes the relevant information that we need for our models.

Colummns for the dataset:

- Home Team Rank
- Home Team Total Wins
- Home Team win
- Draw
- Away Team Win
- Away Team Rank

To add columns including possesion, reds, yellows, corners, shots at goal, shots on target, goal percentage, throw ins (?), fouls, free kicks. Later on when we know that we can combine the core of the table easily for all seasons.

Target:
- Home Team win y/n

### imports

In [1]:
import pandas as pd
import numpy as np 
import sqlite3

### importing the data from sqlite

In [2]:
# create the file path (include two beatthebookies)
path = '/Users/georgebrockman/code/georgebrockman/beatthebookies/beatthebookies/data/database.sqlite'
# create the connection
conn = sqlite3.connect(path)
# create the cursor
cursor = conn.cursor()

In [3]:
# from the match table we want to select all matches played in the English Premier league for the 2015/16 season.
# Premier League - league_id = 1729
# order by stages (Game Weeks)
# need quotes around '2015/2016'
result = cursor.execute(""" SELECT * FROM "Match" m 
                        WHERE league_id = 1729 
                        AND season = '2015/2016' 
                        ORDER BY stage ASC""")

In [4]:
row = result.fetchall()
row[0] # seems to be a lot of null values for shots, s

(4389,
 1729,
 1729,
 '2015/2016',
 1,
 '2015-08-09 00:00:00',
 1987032,
 9825,
 8654,
 0,
 2,
 1,
 2,
 4,
 6,
 8,
 4,
 6,
 3,
 5,
 7,
 5,
 1,
 2,
 4,
 6,
 8,
 3,
 5,
 7,
 5,
 4,
 6,
 1,
 3,
 3,
 3,
 3,
 6,
 6,
 8,
 8,
 8,
 11,
 1,
 3,
 3,
 3,
 3,
 6,
 6,
 6,
 8,
 10,
 10,
 30859,
 26154,
 35606,
 46539,
 38521,
 159594,
 37436,
 75489,
 36378,
 196386,
 46469,
 169756,
 109897,
 35110,
 49543,
 155782,
 37169,
 575789,
 148302,
 25496,
 18506,
 192899,
 '<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><coordinates><value>21</value><value>62</value></coordinates><elapsed>43</elapsed><player2>25496</player2><subtype>header</subtype><player1>148302</player1><sortorder>2</sortorder><team>8654</team><id>4659387</id><n>251</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>39</event_incident_typefk><coordinates><value>30</value><value>56</value></coordinates><elapsed>57</elapsed><subtype>distance</subtype><player1>18506</player1><sortorder>0</sortorder><team>8654</team><id>4659529</id><n>292</n><type>goal</type><goal_type>n</goal_type></value></goal>',
 '<shoton><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>31</value><value>10</value></coordinates><elapsed>6</elapsed><subtype>blocked_shot</subtype><player1>37436</player1><sortorder>0</sortorder><team>9825</team><n>31</n><type>shoton</type><id>4659032</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>494</event_incident_typefk><coordinates><value>34</value><value>15</value></coordinates><elapsed>8</elapsed><subtype>blocked_shot</subtype><player1>36378</player1><sortorder>2</sortorder><team>9825</team><n>40</n><type>shoton</type><id>4659054</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>32</value><value>58</value></coordinates><elapsed>18</elapsed><subtype>blocked_shot</subtype><player1>155782</player1><sortorder>0</sortorder><team>8654</team><n>88</n><type>shoton</type><id>4659137</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>24</value><value>66</value></coordinates><elapsed>20</elapsed><subtype>shot</subtype><player1>192899</player1><sortorder>0</sortorder><team>8654</team><n>108</n><type>shoton</type><id>4659163</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>14</value><value>5</value></coordinates><elapsed>26</elapsed><subtype>blocked_shot</subtype><player1>46469</player1><sortorder>1</sortorder><team>9825</team><n>136</n><type>shoton</type><id>4659224</id></value><value><event_incident_typefk>876</event_incident_typefk><coordinates><value>20</value><value>7</value></coordinates><elapsed>33</elapsed><subtype>blocked_header</subtype><player1>35606</player1><sortorder>3</sortorder><team>9825</team><n>183</n><type>shoton</type><id>4659305</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>311</event_incident_typefk><coordinates><value>15</value><value>56</value></coordinates><elapsed>36</elapsed><subtype>deflected</subtype><player1>25496</player1><sortorder>0</sortorder><team>8654</team><n>186</n><type>shoton</type><id>4659322</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>15</value><value>7</value></coordinates><elapsed>45</elapsed><subtype>blocked_shot</subtype><player1>36378</player1><sortorder>2</sortorder><team>9825</team><n>238</n><type>shoton</type><id>4659405</id></value><value><stats><blocked>1</blocked></stats><elapsed_plus>1</elapsed_plus><event_incident_typefk>61</event_incident_typefk><coordinates><value>32</value><value>14</value></coordinates><elapsed>45</elapsed><subtype>blocked_shot</subtype><player1>26154</player1><sortorder>3</sortorder><team>9825</team><n>241</n><type>shoton</type><id>4659406</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>14</value><value>10</value></coordinates><elapsed>51</elapsed><subtype>blocked_shot</subtype><player1>196386</player1><sortorder>1</sortorder><team>9825</team><n>270</n><type>shoton</type><id>4659496</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>28</value><value>10</value></coordinates><elapsed>56</elapsed><subtype>shot</subtype><player1>46469</player1><sortorder>2</sortorder><team>9825</team><n>288</n><type>shoton</type><id>4659523</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>136</event_incident_typefk><coordinates><value>23</value><value>6</value></coordinates><elapsed>65</elapsed><subtype>header</subtype><player1>46469</player1><sortorder>1</sortorder><team>9825</team><n>326</n><type>shoton</type><id>4659576</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>311</event_incident_typefk><coordinates><value>37</value><value>14</value></coordinates><elapsed>71</elapsed><subtype>deflected</subtype><player1>31013</player1><sortorder>1</sortorder><team>9825</team><n>342</n><type>shoton</type><id>4659615</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>10</value><value>9</value></coordinates><elapsed>73</elapsed><subtype>blocked_shot</subtype><player1>50047</player1><sortorder>0</sortorder><team>9825</team><n>347</n><type>shoton</type><id>4659622</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>135</event_incident_typefk><coordinates><value>12</value><value>62</value></coordinates><elapsed>81</elapsed><subtype>shot</subtype><player1>192899</player1><sortorder>1</sortorder><team>8654</team><n>378</n><type>shoton</type><id>4659682</id></value><value><stats><blocked>1</blocked></stats><event_incident_typefk>61</event_incident_typefk><coordinates><value>27</value><value>7</value></coordinates><elapsed>82</elapsed><subtype>blocked_shot</subtype><player1>31013</player1><sortorder>0</sortorder><team>9825</team><n>381</n><type>shoton</type><id>4659693</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>153</event_incident_typefk><coordinates><value>19</value><value>10</value></coordinates><elapsed>85</elapsed><subtype>shot</subtype><player1>37436</player1><sortorder>1</sortorder><team>9825</team><n>396</n><type>shoton</type><id>4659719</id></value><value><stats><shoton>1</shoton></stats><event_incident_typefk>137</event_incident_typefk><coordinates><value>20</value><value>52</value></coordinates><elapsed>90</elapsed><subtype>distance</subtype><player1>91560</player1><sortorder>3</sortorder><team>8654</team><n>428</n><type>shoton</type><id>4659782</id></value><value><stats><shoton>1</shoton></stats><elapsed_plus>3</elapsed_plus><event_incident_typefk>135</event_incident_typefk><coordinates><value>16</value><value>9</value></coordinates><elapsed>90</elapsed><subtype>shot</subtype><player1>50047</player1><sortorder>11</sortorder><team>9825</team><n>444</n><type>shoton</type><id>4659816</id></value><value><stats><shoton>1</shoton></stats><elapsed_plus>5</elapsed_plus><event_incident_typefk>153</event_incident_typefk><coordinates><value>12</value><value>7</value></coordinates><elapsed>90</elapsed><subtype>shot</subtype><player1>50047</player1><sortorder>13</sortorder><team>9825</team><n>447</n><type>shoton</type><id>4659836</id></value></shoton>',
 '<shotoff><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>47</event_incident_typefk><coordinates><value>19</value><value>9</value></coordinates><elapsed>9</elapsed><subtype>header</subtype><player1>46539</player1><sortorder>2</sortorder><team>9825</team><n>46</n><type>shotoff</type><id>4659060</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>53</event_incident_typefk><coordinates><value>16</value><value>14</value></coordinates><elapsed>11</elapsed><subtype>volley</subtype><player1>196386</player1><sortorder>2</sortorder><team>9825</team><n>63</n><type>shotoff</type><id>4659078</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>53</event_incident_typefk><coordinates><value>13</value><value>6</value></coordinates><elapsed>28</elapsed><subtype>volley</subtype><player1>37436</player1><sortorder>4</sortorder><team>9825</team><n>153</n><type>shotoff</type><id>4659252</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>36</value><value>59</value></coordinates><elapsed>29</elapsed><subtype>shot</subtype><player1>192899</player1><sortorder>2</sortorder><team>8654</team><n>160</n><type>shotoff</type><id>4659261</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>94</event_incident_typefk><coordinates><value>34</value><value>14</value></coordinates><elapsed>32</elapsed><subtype>crossbar</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>171</n><type>shotoff</type><id>4659288</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>15</value><value>60</value></coordinates><elapsed>36</elapsed><subtype>shot</subtype><player1>18506</player1><sortorder>2</sortorder><team>8654</team><n>190</n><type>shotoff</type><id>4659329</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>9</event_incident_typefk><coordinates><value>29</value><value>15</value></coordinates><elapsed>40</elapsed><subtype>distance</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>208</n><type>shotoff</type><id>4659361</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>16</value><value>8</value></coordinates><elapsed>55</elapsed><subtype>shot</subtype><player1>46469</player1><sortorder>1</sortorder><team>9825</team><n>284</n><type>shotoff</type><id>4659515</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>9</event_incident_typefk><coordinates><value>36</value><value>13</value></coordinates><elapsed>82</elapsed><subtype>distance</subtype><player1>196386</player1><sortorder>1</sortorder><team>9825</team><n>383</n><type>shotoff</type><id>4659695</id></value><value><stats><shotoff>1</shotoff></stats><event_incident_typefk>46</event_incident_typefk><coordinates><value>34</value><value>5</value></coordinates><elapsed>89</elapsed><subtype>shot</subtype><player1>46469</player1><sortorder>3</sortorder><team>9825</team><n>424</n><type>shotoff</type><id>4659761</id></value></shotoff>',
 '<foulcommit><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>14</value><value>37</value></coordinates><elapsed>5</elapsed><player2>159594</player2><subtype>trip</subtype><player1>37169</player1><sortorder>1</sortorder><team>8654</team><n>27</n><type>foulcommit</type><id>4659025</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><coordinates><value>33</value><value>16</value></coordinates><elapsed>8</elapsed><player2>196386</player2><subtype>serious_foul</subtype><player1>49543</player1><sortorder>0</sortorder><team>8654</team><n>35</n><type>foulcommit</type><id>4659044</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>15</value><value>24</value></coordinates><elapsed>10</elapsed><player2>35110</player2><subtype>pushing</subtype><player1>46469</player1><sortorder>0</sortorder><team>9825</team><n>64</n><type>foulcommit</type><id>4659065</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>4</value><value>27</value></coordinates><elapsed>14</elapsed><player2>37436</player2><subtype>pushing</subtype><player1>18506</player1><sortorder>3</sortorder><team>8654</team><n>73</n><type>foulcommit</type><id>4659102</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>621</event_incident_typefk><coordinates><value>37</value><value>41</value></coordinates><elapsed>16</elapsed><player2>26154</player2><subtype>obstruction</subtype><player1>155782</player1><sortorder>0</sortorder><team>8654</team><n>83</n><type>foulcommit</type><id>4659121</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>41</value><value>50</value></coordinates><elapsed>19</elapsed><player2>18506</player2><subtype>trip</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>96</n><type>foulcommit</type><id>4659147</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><coordinates><value>4</value><value>9</value></coordinates><elapsed>23</elapsed><player2>46469</player2><subtype>serious_foul</subtype><player1>109897</player1><sortorder>0</sortorder><team>8654</team><n>120</n><type>foulcommit</type><id>4659187</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>728</event_incident_typefk><coordinates><value>9</value><value>56</value></coordinates><elapsed>26</elapsed><player2>46539</player2><subtype>pull</subtype><player1>192899</player1><sortorder>2</sortorder><team>8654</team><n>138</n><type>foulcommit</type><id>4659226</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>42</value><value>51</value></coordinates><elapsed>27</elapsed><player2>37169</player2><subtype>trip</subtype><player1>26154</player1><sortorder>0</sortorder><team>9825</team><n>142</n><type>foulcommit</type><id>4659234</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>33</value><value>28</value></coordinates><elapsed>30</elapsed><player2>25496</player2><subtype>trip</subtype><player1>36378</player1><sortorder>0</sortorder><team>9825</team><n>164</n><type>foulcommit</type><id>4659269</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>621</event_incident_typefk><coordinates><value>5</value><value>8</value></coordinates><elapsed>37</elapsed><player2>38521</player2><subtype>obstruction</subtype><player1>109897</player1><sortorder>0</sortorder><team>8654</team><n>194</n><type>foulcommit</type><id>4659333</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>647</event_incident_typefk><coordinates><value>15</value><value>46</value></coordinates><elapsed>43</elapsed><player2>575789</player2><subtype>dangerous_play</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>219</n><type>foulcommit</type><id>4659382</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>12</value><value>26</value></coordinates><elapsed>52</elapsed><player2>18506</player2><subtype>pushing</subtype><player1>36378</player1><sortorder>0</sortorder><team>9825</team><n>274</n><type>foulcommit</type><id>4659499</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>36</value><value>11</value></coordinates><elapsed>62</elapsed><player2>37169</player2><subtype>trip</subtype><player1>46469</player1><sortorder>4</sortorder><team>9825</team><n>317</n><type>foulcommit</type><id>4659561</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>5</value><value>12</value></coordinates><elapsed>64</elapsed><player2>38521</player2><subtype>trip</subtype><player1>23538</player1><sortorder>0</sortorder><team>8654</team><n>320</n><type>foulcommit</type><id>4659572</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>23</value><value>22</value></coordinates><elapsed>67</elapsed><player2>37169</player2><subtype>trip</subtype><player1>75489</player1><sortorder>0</sortorder><team>9825</team><n>329</n><type>foulcommit</type><id>4659587</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>5</event_incident_typefk><coordinates><value>21</value><value>39</value></coordinates><elapsed>69</elapsed><player2>37169</player2><subtype>serious_foul</subtype><player1>38521</player1><sortorder>0</sortorder><team>9825</team><n>333</n><type>foulcommit</type><id>4659593</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>728</event_incident_typefk><coordinates><value>28</value><value>8</value></coordinates><elapsed>72</elapsed><player2>109897</player2><subtype>pull</subtype><player1>50047</player1><sortorder>1</sortorder><team>9825</team><n>345</n><type>foulcommit</type><id>4659620</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>320</event_incident_typefk><coordinates><value>21</value><value>30</value></coordinates><elapsed>82</elapsed><player2>37169</player2><subtype>pushing</subtype><player1>50047</player1><sortorder>3</sortorder><team>9825</team><n>388</n><type>foulcommit</type><id>4659702</id></value><value><stats><foulscommitted>1</foulscommitted></stats><event_incident_typefk>730</event_incident_typefk><coordinates><value>32</value><value>43</value></coordinates><elapsed>85</elapsed><player2>37169</player2><subtype>trip</subtype><player1>36378</player1><sortorder>2</sortorder><team>9825</team><n>399</n><type>foulcommit</type><id>4659722</id></value><value><stats><foulscommitted>1</foulscommitted></stats><elapsed_plus>5</elapsed_plus><event_incident_typefk>320</event_incident_typefk><coordinates><value>3</value><value>49</value></coordinates><elapsed>90</elapsed><player2>46539</player2><subtype>pushing</subtype><player1>91560</player1><sortorder>12</sortorder><team>8654</team><n>446</n><type>foulcommit</type><id>4659835</id></value></foulcommit>',
 '<card><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>5</elapsed><card_type>y</card_type><player1>37169</player1><sortorder>2</sortorder><team>8654</team><n>28</n><type>card</type><id>4659026</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>8</elapsed><card_type>y</card_type><player1>49543</player1><sortorder>1</sortorder><team>8654</team><n>36</n><type>card</type><id>4659046</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>37</elapsed><card_type>y</card_type><player1>109897</player1><sortorder>1</sortorder><team>8654</team><n>195</n><type>card</type><id>4659336</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>69</elapsed><card_type>y</card_type><player1>38521</player1><sortorder>1</sortorder><team>9825</team><n>334</n><type>card</type><id>4659594</id></value></card>',

In [5]:
# create a DataFrame from the SQL query
matches_df = pd.read_sql(""" SELECT * FROM "Match" m 
                        WHERE league_id = 1729 
                        AND season = '2015/2016' 
                        ORDER BY stage ASC""", conn)

In [6]:
# inspect the DataFrame
matches_df.columns.values

array(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1',
       'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5',
       'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9',
       'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA'], dtype=object)

In [7]:
# we can remove all the ones not needed for home-away goal data
simple_matches = matches_df.drop(['home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1',
       'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5',
       'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9',
       'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA'], axis=1)

In [8]:
simple_matches.head(5)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2

In [9]:
simple_matches['home_goals']= simple_matches.groupby('home_team_api_id')['home_team_goal'].cumsum().fillna(0)

In [10]:
simple_matches['away_goals']= simple_matches.groupby('away_team_api_id')['away_team_goal'].cumsum().fillna(0)

In [11]:
simple_matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2,0,2
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1,0,1
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2,2,2
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2,2,2
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2,4,2
5,4394,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987037,10260,8586,1,0,1,0
6,4395,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987038,10261,8466,2,2,2,2
7,4396,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987039,9850,9826,1,3,1,3
8,4397,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987040,10194,8650,0,1,0,1
9,4398,1729,1729,2015/2016,1,2015-08-10 00:00:00,1987041,8659,8456,0,3,0,3
10,4499,1729,1729,2015/2016,2,2015-08-14 00:00:00,1987078,10252,10260,0,1,0,1
11,4500,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987079,9826,9825,1,2,1,2
12,4501,1729,1729,2015/2016,2,2015-08-17 00:00:00,1987080,8650,8678,1,0,1,0
13,4502,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987081,8456,8455,3,0,3,0
14,4503,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987082,8466,8668,0,3,0,3
15,4504,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987083,8472,9850,1,3,1,3
16,4505,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987084,10003,10261,2,0,2,0
17,4506,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987085,8586,10194,2,2,2,2
18,4507,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987086,9817,8659,0,0,0,0
19,4508,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987087,8654,8197,1,2,1,2
20,4609,1729,1729,2015/2016,3,2015-08-24 00:00:00,1988730,9825,8650,0,0,0,1
21,4610,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988731,9826,10252,2,1,3,2
22,4611,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988732,8668,8456,0,2,2,5
23,4612,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988733,8197,8586,1,1,5,1
24,4613,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988734,10260,10261,0,0,1,0
25,4614,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988735,9850,10194,1,1,2,3
26,4615,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988736,8472,10003,1,1,2,3
27,4616,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988737,9817,8466,0,0,0,2
28,4617,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988738,8659,8455,2,3,2,3
29,4618,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988739,8654,8678,3,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,4679,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989060,9825,9850,1,0,27,13
351,4680,1729,1729,2015/2016,36,2016-05-02 00:00:00,1989061,8455,8586,2,2,31,33
352,4681,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989062,8668,8678,2,1,32,21
353,4682,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989063,10260,8197,1,1,24,32
354,4683,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989064,10261,9826,1,0,27,19
355,4684,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989065,8466,8456,4,2,35,23
356,4685,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989066,10194,8472,1,1,20,23
357,4686,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989067,10003,8650,3,1,19,29
358,4687,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989068,9817,10252,3,2,18,13
359,4688,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989069,8659,8654,0,3,19,30
360,4689,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989070,10252,10261,0,0,14,12
361,4690,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989071,8678,8659,1,1,23,14
362,4691,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989072,9826,10194,2,1,19,19
363,4692,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989073,8197,8668,3,1,35,24
364,4693,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989074,8650,9817,2,0,33,20
365,4694,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989075,8456,9825,2,2,47,34
366,4695,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989076,9850,10260,0,1,26,22
367,4696,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989077,8472,8455,3,2,23,27
368,4697,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989078,8586,8466,1,2,35,20
369,4698,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989079,8654,10003,1,4,34,22
370,4699,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987597,9825,10252,4,0,31,13
371,4700,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987598,8455,8197,1,1,32,33
372,4701,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987599,8668,9850,3,0,35,13
373,4702,1729,1729,2015/2016,38,2016-05-17 00:00:00,1987600,10260,8678,3,1,27,22
374,4703,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987601,10261,8586,5,1,32,34
375,4704,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987602,8466,9826,4,1,39,20
376,4705,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987603,10194,8654,2,1,22,31
377,4706,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987604,10003,8456,1,1,20,24
378,4707,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987605,9817,8472,2,2,20,25
379,4708,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987606,8659,8650,1,1,20,30

In [12]:
simple_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 13 columns):
id                  380 non-null int64
country_id          380 non-null int64
league_id           380 non-null int64
season              380 non-null object
stage               380 non-null int64
date                380 non-null object
match_api_id        380 non-null int64
home_team_api_id    380 non-null int64
away_team_api_id    380 non-null int64
home_team_goal      380 non-null int64
away_team_goal      380 non-null int64
home_goals          380 non-null int64
away_goals          380 non-null int64
dtypes: int64(11), object(2)
memory usage: 38.7+ KB

In [13]:
simple_matches['home_wins'] = simple_matches.home_team_goal > simple_matches.away_team_goal
simple_matches['draws'] = simple_matches.home_team_goal == simple_matches.away_team_goal
simple_matches['away_wins'] = simple_matches.home_team_goal < simple_matches.away_team_goal
simple_matches

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home_wins,draws,away_wins
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2,0,2,False,False,True
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1,0,1,False,False,True
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2,2,2,False,True,False
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2,2,2,False,True,False
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2,4,2,True,False,False
5,4394,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987037,10260,8586,1,0,1,0,True,False,False
6,4395,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987038,10261,8466,2,2,2,2,False,True,False
7,4396,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987039,9850,9826,1,3,1,3,False,False,True
8,4397,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987040,10194,8650,0,1,0,1,False,False,True
9,4398,1729,1729,2015/2016,1,2015-08-10 00:00:00,1987041,8659,8456,0,3,0,3,False,False,True
10,4499,1729,1729,2015/2016,2,2015-08-14 00:00:00,1987078,10252,10260,0,1,0,1,False,False,True
11,4500,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987079,9826,9825,1,2,1,2,False,False,True
12,4501,1729,1729,2015/2016,2,2015-08-17 00:00:00,1987080,8650,8678,1,0,1,0,True,False,False
13,4502,1729,1729,2015/2016,2,2015-08-16 00:00:00,1987081,8456,8455,3,0,3,0,True,False,False
14,4503,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987082,8466,8668,0,3,0,3,False,False,True
15,4504,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987083,8472,9850,1,3,1,3,False,False,True
16,4505,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987084,10003,10261,2,0,2,0,True,False,False
17,4506,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987085,8586,10194,2,2,2,2,False,True,False
18,4507,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987086,9817,8659,0,0,0,0,False,True,False
19,4508,1729,1729,2015/2016,2,2015-08-15 00:00:00,1987087,8654,8197,1,2,1,2,False,False,True
20,4609,1729,1729,2015/2016,3,2015-08-24 00:00:00,1988730,9825,8650,0,0,0,1,False,True,False
21,4610,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988731,9826,10252,2,1,3,2,True,False,False
22,4611,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988732,8668,8456,0,2,2,5,False,False,True
23,4612,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988733,8197,8586,1,1,5,1,False,True,False
24,4613,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988734,10260,10261,0,0,1,0,False,True,False
25,4614,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988735,9850,10194,1,1,2,3,False,True,False
26,4615,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988736,8472,10003,1,1,2,3,False,True,False
27,4616,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988737,9817,8466,0,0,0,2,False,True,False
28,4617,1729,1729,2015/2016,3,2015-08-23 00:00:00,1988738,8659,8455,2,3,2,3,False,False,True
29,4618,1729,1729,2015/2016,3,2015-08-22 00:00:00,1988739,8654,8678,3,4,4,4,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,4679,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989060,9825,9850,1,0,27,13,True,False,False
351,4680,1729,1729,2015/2016,36,2016-05-02 00:00:00,1989061,8455,8586,2,2,31,33,False,True,False
352,4681,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989062,8668,8678,2,1,32,21,True,False,False
353,4682,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989063,10260,8197,1,1,24,32,False,True,False
354,4683,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989064,10261,9826,1,0,27,19,True,False,False
355,4684,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989065,8466,8456,4,2,35,23,True,False,False
356,4685,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989066,10194,8472,1,1,20,23,False,True,False
357,4686,1729,1729,2015/2016,36,2016-05-01 00:00:00,1989067,10003,8650,3,1,19,29,True,False,False
358,4687,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989068,9817,10252,3,2,18,13,True,False,False
359,4688,1729,1729,2015/2016,36,2016-04-30 00:00:00,1989069,8659,8654,0,3,19,30,False,False,True
360,4689,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989070,10252,10261,0,0,14,12,False,True,False
361,4690,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989071,8678,8659,1,1,23,14,False,True,False
362,4691,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989072,9826,10194,2,1,19,19,True,False,False
363,4692,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989073,8197,8668,3,1,35,24,True,False,False
364,4693,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989074,8650,9817,2,0,33,20,True,False,False
365,4694,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989075,8456,9825,2,2,47,34,False,True,False
366,4695,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989076,9850,10260,0,1,26,22,False,False,True
367,4696,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989077,8472,8455,3,2,23,27,True,False,False
368,4697,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989078,8586,8466,1,2,35,20,False,False,True
369,4698,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989079,8654,10003,1,4,34,22,False,False,True
370,4699,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987597,9825,10252,4,0,31,13,True,False,False
371,4700,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987598,8455,8197,1,1,32,33,False,True,False
372,4701,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987599,8668,9850,3,0,35,13,True,False,False
373,4702,1729,1729,2015/2016,38,2016-05-17 00:00:00,1987600,10260,8678,3,1,27,22,True,False,False
374,4703,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987601,10261,8586,5,1,32,34,True,False,False
375,4704,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987602,8466,9826,4,1,39,20,True,False,False
376,4705,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987603,10194,8654,2,1,22,31,True,False,False
377,4706,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987604,10003,8456,1,1,20,24,False,True,False
378,4707,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987605,9817,8472,2,2,20,25,False,True,False
379,4708,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987606,8659,8650,1,1,20,30,False,True,False

In [14]:
# convert booleans into binary numbers 
simple_matches['home_wins'] = simple_matches['home_wins'].astype(int)
simple_matches['draws'] = simple_matches['draws'].astype(int)
simple_matches['away_wins'] = simple_matches['away_wins'].astype(int)

In [15]:
simple_matches.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home_wins,draws,away_wins
0,4389,1729,1729,2015/2016,1,2015-08-09 00:00:00,1987032,9825,8654,0,2,0,2,0,0,1
1,4390,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987033,8678,10252,0,1,0,1,0,0,1
2,4391,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987034,8455,10003,2,2,2,2,0,1,0
3,4392,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987035,8668,9817,2,2,2,2,0,1,0
4,4393,1729,1729,2015/2016,1,2015-08-08 00:00:00,1987036,8197,8472,4,2,4,2,1,0,0

In [25]:
# create cumulative home, draw and away wins grouping by each team id

simple_matches['cumulative_home_wins_home'] = simple_matches.groupby('home_team_api_id')['home_wins'].cumsum().fillna(0)
simple_matches['cumulative_away_wins_home'] = simple_matches.groupby('home_team_api_id')['home_wins'].cumsum().fillna(0)
simple_matches['cumulative_home_wins_away'] = simple_matches.groupby('away_team_api_id')['away_wins'].cumsum().fillna(0)
# simple_matches['cumulative_draws'] = simple_matches.groupby('home_team_api_id')['draws'].cumsum().fillna(0)
simple_matches['cumulative_away_wins_away'] = simple_matches.groupby('away_team_api_id')['away_wins'].cumsum().fillna(0)

In [26]:
simple_matches.tail(20)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,away_goals,home_wins,draws,away_wins,cumulative_home_wins,cumulative_away_wins,cumulative_home_wins_home,cumulative_home_wins_away,cumulative_away_wins_away,cumulative_away_wins_home
360,4689,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989070,10252,10261,0,...,12,0,1,0,2,2,2,2,2,2
361,4690,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989071,8678,8659,1,...,14,0,1,0,5,4,5,4,4,5
362,4691,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989072,9826,10194,2,...,19,1,0,0,6,6,6,6,6,6
363,4692,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989073,8197,8668,3,...,24,1,0,0,12,5,12,5,5,12
364,4693,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989074,8650,9817,2,...,20,1,0,0,8,6,8,6,6,8
365,4694,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989075,8456,9825,2,...,34,0,1,0,12,8,12,8,8,12
366,4695,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989076,9850,10260,0,...,22,0,0,1,6,7,6,7,7,6
367,4696,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989077,8472,8455,3,...,27,1,0,0,6,7,6,7,7,6
368,4697,1729,1729,2015/2016,37,2016-05-08 00:00:00,1989078,8586,8466,1,...,20,0,0,1,10,7,10,7,7,10
369,4698,1729,1729,2015/2016,37,2016-05-07 00:00:00,1989079,8654,10003,1,...,22,0,0,1,9,4,9,4,4,9
370,4699,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987597,9825,10252,4,...,13,1,0,0,12,1,12,1,1,12
371,4700,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987598,8455,8197,1,...,33,0,1,0,5,11,5,11,11,5
372,4701,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987599,8668,9850,3,...,13,1,0,0,6,3,6,3,3,6
373,4702,1729,1729,2015/2016,38,2016-05-17 00:00:00,1987600,10260,8678,3,...,22,1,0,0,12,6,12,6,6,12
374,4703,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987601,10261,8586,5,...,34,1,0,0,7,9,7,9,9,7
375,4704,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987602,8466,9826,4,...,20,1,0,0,11,5,11,5,5,11
376,4705,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987603,10194,8654,2,...,31,1,0,0,8,7,8,7,7,8
377,4706,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987604,10003,8456,1,...,24,0,1,0,8,7,8,7,7,8
378,4707,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987605,9817,8472,2,...,25,0,1,0,6,3,6,3,3,6
379,4708,1729,1729,2015/2016,38,2016-05-15 00:00:00,1987606,8659,8650,1,...,30,0,1,0,6,8,6,8,8,6

In [18]:
# cumulative home team wins per team

## Day two - Advanced Exploration (multiple seasons)