# Data Exploration

In [14]:
import sqlite3
import pandas as pd

path = "../data/"  #Insert path here
database = path + "database.sqlite"
conn = sqlite3.connect(database)

cursor = conn.cursor()
print(cursor.fetchall())

matches_df = pd.read_sql(
    '''
    SELECT id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
    FROM Match m
    WHERE league_id == 1729
    AND season == '2015/2016'
    ORDER BY stage ASC
    ''', conn)

matches_df.head(5)

[]

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2

In [15]:
matches_df['home_goals']= matches_df.groupby('home_team_api_id')['home_team_goal'].cumsum().fillna(0)

In [16]:
matches_df['away_goals']= matches_df.groupby('home_team_api_id')['away_team_goal'].cumsum().fillna(0)

In [17]:
matches_df.head(3)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,0,2
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,0,1
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,2,2

### Variables to consider

1. Home Team Total Wins	
2. Home Team Home wins	
3. Home Team Total Losses	
4. Home Team Home losses	
5. Away Team Rank	
6. Away Team Total Wins	
7. Away Team Away wins	
8. Away Team Total Losses	
9. Away Team Away Losses	
10. Home Team Total Goals	
11. Home Team Home Goals	
12. Home Team Total Goals allowed	
13. Home Team Home Goals Allowed	
14. Away Team Total Goals	
15. Away Team Away Goals	
16. Away Team Total Goals Allowed	
17. Away Team Away Goals Allowed	
18. Home Team Win y/n

### home / draw / away

In [18]:
matches_df['home']=0
matches_df['away']=0
matches_df['home_draw']=0
#matches_df['away_draw']=0

matches_df.loc[matches_df['home_team_goal'] > matches_df['away_team_goal'],'home']=1
matches_df.loc[matches_df['home_team_goal'] < matches_df['away_team_goal'],'away']=1
matches_df.loc[matches_df['home_team_goal'] == matches_df['away_team_goal'],'home_draw']=1
#matches_df.loc[matches_df['home_team_goal'] == matches_df['away_team_goal'],'away_draw']=1

In [19]:
matches_df.head(5)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home,away,home_draw
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,0,2,0,1,0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,0,1,0,1,0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,2,2,0,0,1
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,2,2,0,0,1
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,4,2,1,0,0

In [20]:
matches_df['home_wins_cum']=matches_df.groupby('home_team_api_id')['home'].cumsum()
matches_df['away_wins_cum']=matches_df.groupby('home_team_api_id')['away'].cumsum()
matches_df['home_draw_cum']=matches_df.groupby('home_team_api_id')['home_draw'].cumsum()
#matches_df['away_draw_cum']=matches_df.groupby('away_team_api_id')['away_draw'].cumsum()

In [22]:
matches_df.groupby('stage').head(20)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_goals,away_goals,home,away,home_draw,home_wins_cum,away_wins_cum,home_draw_cum
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,0,2,0,1,0,0,1,0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,0,1,0,1,0,0,1,0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,2,2,0,0,1,0,0,1
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,2,2,0,0,1,0,0,1
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,4,2,1,0,0,1,0,0
5,4394,1729,2015/2016,1,1987037,10260,8586,1,0,1,0,1,0,0,1,0,0
6,4395,1729,2015/2016,1,1987038,10261,8466,2,2,2,2,0,0,1,0,0,1
7,4396,1729,2015/2016,1,1987039,9850,9826,1,3,1,3,0,1,0,0,1,0
8,4397,1729,2015/2016,1,1987040,10194,8650,0,1,0,1,0,1,0,0,1,0
9,4398,1729,2015/2016,1,1987041,8659,8456,0,3,0,3,0,1,0,0,1,0
10,4499,1729,2015/2016,2,1987078,10252,10260,0,1,0,1,0,1,0,0,1,0
11,4500,1729,2015/2016,2,1987079,9826,9825,1,2,1,2,0,1,0,0,1,0
12,4501,1729,2015/2016,2,1987080,8650,8678,1,0,1,0,1,0,0,1,0,0
13,4502,1729,2015/2016,2,1987081,8456,8455,3,0,3,0,1,0,0,1,0,0
14,4503,1729,2015/2016,2,1987082,8466,8668,0,3,0,3,0,1,0,0,1,0
15,4504,1729,2015/2016,2,1987083,8472,9850,1,3,1,3,0,1,0,0,1,0
16,4505,1729,2015/2016,2,1987084,10003,10261,2,0,2,0,1,0,0,1,0,0
17,4506,1729,2015/2016,2,1987085,8586,10194,2,2,2,2,0,0,1,0,0,1
18,4507,1729,2015/2016,2,1987086,9817,8659,0,0,0,0,0,0,1,0,0,1
19,4508,1729,2015/2016,2,1987087,8654,8197,1,2,1,2,0,1,0,0,1,0
20,4609,1729,2015/2016,3,1988730,9825,8650,0,0,0,2,0,0,1,0,1,1
21,4610,1729,2015/2016,3,1988731,9826,10252,2,1,3,3,1,0,0,1,1,0
22,4611,1729,2015/2016,3,1988732,8668,8456,0,2,2,4,0,1,0,0,1,1
23,4612,1729,2015/2016,3,1988733,8197,8586,1,1,5,3,0,0,1,1,0,1
24,4613,1729,2015/2016,3,1988734,10260,10261,0,0,1,0,0,0,1,1,0,1
25,4614,1729,2015/2016,3,1988735,9850,10194,1,1,2,4,0,0,1,0,1,1
26,4615,1729,2015/2016,3,1988736,8472,10003,1,1,2,4,0,0,1,0,1,1
27,4616,1729,2015/2016,3,1988737,9817,8466,0,0,0,0,0,0,1,0,0,2
28,4617,1729,2015/2016,3,1988738,8659,8455,2,3,2,6,0,1,0,0,2,0
29,4618,1729,2015/2016,3,1988739,8654,8678,3,4,4,6,0,1,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,4679,1729,2015/2016,36,1989060,9825,9850,1,0,27,11,1,0,0,11,3,4
351,4680,1729,2015/2016,36,1989061,8455,8586,2,2,31,29,0,0,1,5,5,8
352,4681,1729,2015/2016,36,1989062,8668,8678,2,1,32,30,1,0,0,5,8,5
353,4682,1729,2015/2016,36,1989063,10260,8197,1,1,24,8,0,0,1,11,2,5
354,4683,1729,2015/2016,36,1989064,10261,9826,1,0,27,23,1,0,0,6,5,7
355,4684,1729,2015/2016,36,1989065,8466,8456,4,2,35,21,1,0,0,10,5,3
356,4685,1729,2015/2016,36,1989066,10194,8472,1,1,20,23,0,0,1,7,7,4
357,4686,1729,2015/2016,36,1989067,10003,8650,3,1,19,19,1,0,0,8,5,5
358,4687,1729,2015/2016,36,1989068,9817,10252,3,2,18,17,1,0,0,6,7,5
359,4688,1729,2015/2016,36,1989069,8659,8654,0,3,19,25,0,1,0,6,8,4
360,4689,1729,2015/2016,37,1989070,10252,10261,0,0,14,35,0,0,1,2,12,5
361,4690,1729,2015/2016,37,1989071,8678,8659,1,1,23,34,0,0,1,5,9,5
362,4691,1729,2015/2016,37,1989072,9826,10194,2,1,19,23,1,0,0,6,10,3
363,4692,1729,2015/2016,37,1989073,8197,8668,3,1,35,18,1,0,0,12,1,6
364,4693,1729,2015/2016,37,1989074,8650,9817,2,0,33,22,1,0,0,8,3,8
365,4694,1729,2015/2016,37,1989075,8456,9825,2,2,47,21,0,0,1,12,5,2
366,4695,1729,2015/2016,37,1989076,9850,10260,0,1,26,30,0,1,0,6,8,5
367,4696,1729,2015/2016,37,1989077,8472,8455,3,2,23,20,1,0,0,6,7,6
368,4697,1729,2015/2016,37,1989078,8586,8466,1,2,35,15,0,1,0,10,3,6
369,4698,1729,2015/2016,37,1989079,8654,10003,1,4,34,26,0,1,0,9,3,7
370,4699,1729,2015/2016,38,1987597,9825,10252,4,0,31,11,1,0,0,12,3,4
371,4700,1729,2015/2016,38,1987598,8455,8197,1,1,32,30,0,0,1,5,5,9
372,4701,1729,2015/2016,38,1987599,8668,9850,3,0,35,30,1,0,0,6,8,5
373,4702,1729,2015/2016,38,1987600,10260,8678,3,1,27,9,1,0,0,12,2,5
374,4703,1729,2015/2016,38,1987601,10261,8586,5,1,32,24,1,0,0,7,5,7
375,4704,1729,2015/2016,38,1987602,8466,9826,4,1,39,22,1,0,0,11,5,3
376,4705,1729,2015/2016,38,1987603,10194,8654,2,1,22,24,1,0,0,8,7,4
377,4706,1729,2015/2016,38,1987604,10003,8456,1,1,20,20,0,0,1,8,5,6
378,4707,1729,2015/2016,38,1987605,9817,8472,2,2,20,19,0,0,1,6,7,6
379,4708,1729,2015/2016,38,1987606,8659,8650,1,1,20,26,0,0,1,6,8,5

In [10]:
matches_df['home_and_away'] = matches_df.groupby(['home_team_api_id','away_team_api_id'])['home_wins_cum','away_wins_cum'].cumsum()

ValueError: Wrong number of items passed 2, placement implies 1

In [ ]:
matches[matches['stage']]

### Testing Old Variables for distinct teams

In [ ]:
Home_Team_Home_wins = home_df.loc['8197', 'home_wins'].str.count("yes").sum()

In [ ]:
Home_Team_Home_Losses = home_df.loc['8197', 'home_wins'].str.count("no").sum()

In [ ]:
Home_Team_Home_Goals = home_df.loc['8197', 'home_team_goal'].sum()

In [ ]:
Home_Team_Home_Goals_allowed = home_df.loc['8197', 'away_team_goal'].sum()