# Data Exploration

In [2]:
import beatthebookies.data as btd
import beatthebookies.trainer as btt
from beatthebookies.trainer import Trainer

In [3]:
import mlflow
import time
import pandas as pd
# import warnings
from beatthebookies.data import get_data, get_betting_data
from beatthebookies.utils import simple_time_tracker, compute_scores, compute_overall_scores

from mlflow.tracking import MlflowClient
from memoized_property import memoized_property
from sklearn.linear_model import LogisticRegression, Lasso, Ridge, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor, RandomForestClassifier
from xgboost import XGBRegressor
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.compose import ColumnTransformer
#from beatthebookies.encoders import CustomNormaliser, CustomStandardScaler
from tempfile import mkdtemp
from beatthebookies.bettingstrategy import compute_profit

In [4]:
experiment = "BeatTheBookies"
params = dict(season='2015/2016',
              full=False,
              upload=True,
              local=False,  # set to False to get data from GCP (Storage or BigQuery)
              gridsearch=False,
              optimize=False,
              estimator="KNNClassifier",
              mlflow=True,  # set to True to log params to mlflow
              experiment_name=experiment,
              pipeline_memory=None,
              feateng=None,
              n_jobs=-1)
df = get_data(**params)
betting_data = get_betting_data(**params)
bet = 10
df.dropna(inplace=True)
print(df.shape)
X = df.drop(columns=['id', 'season', 'date', 'stage', 'home_team_goal', 'away_team_goal', 'home_team', 'away_team', 'home_w', 'away_w', 'draw'])
y = df[['home_w', 'away_w', 'draw']]
t = Trainer(X=X, y=y, **params)
t.train()
t.evaluate(bet)

get_data 8.9
get_betting_data 0.05
(380, 47)
train 0.48

/Users/nico/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/nico/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/sklearn/base.py:467: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

TypeError: evaluate() missing 1 required positional argument: 'bet'

In [11]:
d = {'col1': [1, 2], 'col2': [3, 4]}
p = {'col6': [1, 5], 'col9': [2, 6]}

In [12]:
p = pd.DataFrame(data=d)
k = pd.DataFrame(data=p)

In [15]:
p

   col1  col2
0     1     3
1     2     4

In [16]:
k

   col1  col2
0     1     3
1     2     4

In [13]:
pd.np.multiply(p,k)

   col1  col2
0     1     9
1     4    16

In [9]:
df.head(250)

,id,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,home_w,away_w,...,da_x,dtw_x,bups_y,bupp_y,ccp_y,ccc_y,ccs_y,dp_y,da_y,dtw_y
0,4390,2015/2016,1,2015-08-08 00:00:00,Bournemouth,Aston Villa,0,1,0,1,...,50,62,63,54,60,48,38,35,44,54
1,4391,2015/2016,1,2015-08-08 00:00:00,Chelsea,Swansea City,2,2,0,0,...,41,46,45,42,34,36,55,31,47,42
2,4392,2015/2016,1,2015-08-08 00:00:00,Everton,Watford,2,2,0,0,...,58,59,61,52,54,42,45,38,52,45
3,4393,2015/2016,1,2015-08-08 00:00:00,Leicester City,Sunderland,4,2,1,0,...,65,55,43,51,59,50,55,47,45,49
4,4394,2015/2016,1,2015-08-08 00:00:00,Manchester United,Tottenham Hotspur,1,0,1,0,...,53,56,47,40,41,41,63,63,54,56
5,4396,2015/2016,1,2015-08-08 00:00:00,Norwich City,Crystal Palace,1,3,0,1,...,39,51,61,67,67,69,50,36,34,41
6,4389,2015/2016,1,2015-08-09 00:00:00,Arsenal,West Ham United,0,2,0,1,...,44,52,77,57,68,73,29,30,37,41
7,4395,2015/2016,1,2015-08-09 00:00:00,Newcastle United,Southampton,2,2,0,0,...,39,51,52,46,42,54,30,50,65,44
8,4397,2015/2016,1,2015-08-09 00:00:00,Stoke City,Liverpool,0,1,0,1,...,37,51,66,45,34,34,46,51,52,61
9,4398,2015/2016,1,2015-08-10 00:00:00,West Bromwich Albion,Manchester City,0,3,0,1,...,40,49,59,29,38,36,24,48,47,54
10,4499,2015/2016,2,2015-08-14 00:00:00,Aston Villa,Manchester United,0,1,0,1,...,44,54,38,44,49,44,40,54,53,56
11,4503,2015/2016,2,2015-08-15 00:00:00,Southampton,Everton,0,3,0,1,...,65,44,43,40,39,33,63,52,58,59
12,4504,2015/2016,2,2015-08-15 00:00:00,Sunderland,Norwich City,1,3,0,1,...,45,49,45,55,46,54,47,38,39,51
13,4505,2015/2016,2,2015-08-15 00:00:00,Swansea City,Newcastle United,2,0,1,0,...,47,42,58,49,47,54,46,41,39,51
14,4506,2015/2016,2,2015-08-15 00:00:00,Tottenham Hotspur,Stoke City,2,2,0,0,...,54,56,48,49,51,59,49,44,37,51
15,4507,2015/2016,2,2015-08-15 00:00:00,Watford,West Bromwich Albion,0,0,0,0,...,52,45,62,51,53,50,60,41,40,49
16,4508,2015/2016,2,2015-08-15 00:00:00,West Ham United,Leicester City,1,2,0,1,...,37,41,63,60,47,64,46,58,65,55
17,4500,2015/2016,2,2015-08-16 00:00:00,Crystal Palace,Arsenal,1,2,0,1,...,34,41,59,30,28,44,46,51,44,52
18,4502,2015/2016,2,2015-08-16 00:00:00,Manchester City,Chelsea,3,0,1,0,...,47,54,67,36,41,34,44,39,41,46
19,4501,2015/2016,2,2015-08-17 00:00:00,Liverpool,Bournemouth,1,0,1,0,...,52,61,47,47,49,45,47,48,50,62
20,4618,2015/2016,3,2015-08-22 00:00:00,West Ham United,Bournemouth,3,4,0,1,...,37,41,47,47,49,45,47,48,50,62
21,4614,2015/2016,3,2015-08-22 00:00:00,Norwich City,Stoke City,1,1,0,0,...,39,51,48,49,51,59,49,44,37,51
22,4613,2015/2016,3,2015-08-22 00:00:00,Manchester United,Newcastle United,0,0,0,0,...,53,56,58,49,47,54,46,41,39,51
23,4615,2015/2016,3,2015-08-22 00:00:00,Sunderland,Swansea City,1,1,0,0,...,45,49,45,42,34,36,55,31,47,42
24,4610,2015/2016,3,2015-08-22 00:00:00,Crystal Palace,Aston Villa,2,1,1,0,...,34,41,63,54,60,48,38,35,44,54
25,4612,2015/2016,3,2015-08-22 00:00:00,Leicester City,Tottenham Hotspur,1,1,0,0,...,65,55,47,40,41,41,63,63,54,56
26,4611,2015/2016,3,2015-08-23 00:00:00,Everton,Manchester City,0,2,0,1,...,58,59,59,29,38,36,24,48,47,54
27,4616,2015/2016,3,2015-08-23 00:00:00,Watford,Southampton,0,0,0,0,...,52,45,52,46,42,54,30,50,65,44
28,4617,2015/2016,3,2015-08-23 00:00:00,West Bromwich Albion,Chelsea,2,3,0,1,...,40,49,67,36,41,34,44,39,41,46
29,4609,2015/2016,3,2015-08-24 00:00:00,Arsenal,Liverpool,0,0,0,0,...,44,52,66,45,34,34,46,51,52,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,4542,2015/2016,23,2016-01-23 00:00:00,Leicester City,Stoke City,3,0,1,0,...,65,55,48,49,51,59,49,44,37,51
221,4543,2015/2016,23,2016-01-23 00:00:00,Manchester United,Southampton,0,1,0,1,...,53,56,52,46,42,54,30,50,65,44
222,4544,2015/2016,23,2016-01-23 00:00:00,Norwich City,Liverpool,4,5,0,1,...,39,51,66,45,34,34,46,51,52,61
223,4545,2015/2016,23,2016-01-23 00:00:00,Sunderland,Bournemouth,1,1,0,0,...,45,49,47,47,49,45,47,48,50,62
224,4546,2015/2016,23,2016-01-23 00:00:00,Watford,Newcastle United,2,1,1,0,...,52,45,58,49,47,54,46,41,39,51
225,4547,2015/2016,23,2016-01-23 00:00:00,West Bromwich Albion,Aston Villa,0,0,0,0,...,40,49,63,54,60,48,38,35,44,54
226,4548,2015/2016,23,2016-01-23 00:00:00,West Ham United,Manchester City,2,2,0,0,...,37,41,59,29,38,36,24,48,47,54
227,4540,2015/2016,23,2016-01-23 00:00:00,Crystal Palace,Tottenham Hotspur,1,3,0,1,...,34,41,47,40,41,41,63,63,54,56
228,4539,2015/2016,23,2016-01-24 00:00:00,Arsenal,Chelsea,0,1,0,1,...,44,52,67,36,41,34,44,39,41,46
229,4541,2015/2016,23,2016-01-24 00:00:00,Everton,Swansea City,1,2,0,1,...,58,59,45,42,34,36,55,31,47,42
230,4557,2015/2016,24,2016-02-02 00:00:00,West Bromwich Albion,Swansea City,1,1,0,0,...,40,49,45,42,34,36,55,31,47,42
231,4549,2015/2016,24,2016-02-02 00:00:00,Arsenal,Southampton,0,0,0,0,...,44,52,52,46,42,54,30,50,65,44
232,4550,2015/2016,24,2016-02-02 00:00:00,Leicester City,Liverpool,2,0,1,0,...,65,55,66,45,34,34,46,51,52,61
233,4551,2015/2016,24,2016-02-02 00:00:00,Norwich City,Tottenham Hotspur,0,3,0,1,...,39,51,47,40,41,41,63,63,54,56
234,4552,2015/2016,24,2016-02-02 00:00:00,Sunderland,Manchester City,0,1,0,1,...,45,49,59,29,38,36,24,48,47,54
235,4556,2015/2016,24,2016-02-02 00:00:00,Manchester United,Stoke City,3,0,1,0,...,53,56,48,49,51,59,49,44,37,51
236,4554,2015/2016,24,2016-02-02 00:00:00,West Ham United,Aston Villa,2,0,1,0,...,37,41,63,54,60,48,38,35,44,54
237,4555,2015/2016,24,2016-02-02 00:00:00,Crystal Palace,Bournemouth,1,2,0,1,...,34,41,47,47,49,45,47,48,50,62
238,4558,2015/2016,24,2016-02-03 00:00:00,Everton,Newcastle United,3,0,1,0,...,58,59,58,49,47,54,46,41,39,51
239,4553,2015/2016,24,2016-02-03 00:00:00,Watford,Chelsea,0,0,0,0,...,52,45,67,36,41,34,44,39,41,46
240,4567,2015/2016,25,2016-02-06 00:00:00,Swansea City,Crystal Palace,1,1,0,0,...,47,42,61,67,67,69,50,36,34,41
241,4565,2015/2016,25,2016-02-06 00:00:00,Southampton,West Ham United,1,0,1,0,...,65,44,77,57,68,73,29,30,37,41
242,4564,2015/2016,25,2016-02-06 00:00:00,Newcastle United,West Bromwich Albion,1,0,1,0,...,39,51,62,51,53,50,60,41,40,49
243,4563,2015/2016,25,2016-02-06 00:00:00,Manchester City,Leicester City,1,3,0,1,...,47,54,63,60,47,64,46,58,65,55
244,4562,2015/2016,25,2016-02-06 00:00:00,Liverpool,Sunderland,2,2,0,0,...,52,61,43,51,59,50,55,47,45,49
245,4559,2015/2016,25,2016-02-06 00:00:00,Aston Villa,Norwich City,2,0,1,0,...,44,54,45,55,46,54,47,38,39,51
246,4568,2015/2016,25,2016-02-06 00:00:00,Tottenham Hotspur,Watford,1,0,1,0,...,54,56,61,52,54,42,45,38,52,45
247,4566,2015/2016,25,2016-02-06 00:00:00,Stoke City,Everton,0,3,0,1,...,37,51,43,40,39,33,63,52,58,59
248,4561,2015/2016,25,2016-02-07 00:00:00,Chelsea,Manchester United,1,1,0,0,...,41,46,38,44,49,44,40,54,53,56
249,4560,2015/2016,25,2016-02-07 00:00:00,Bournemouth,Arsenal,0,2,0,1,...,50,62,59,30,28,44,46,51,44,52

In [8]:
df['profit'] = -10
df.loc[(y_pred == y_true), 'profit'] = (((df['WHH']*df['home_w'])+(df['WHD']*df['draw'])+(df['WHA']*df['away_w'])) * 10) - 10
btb_profit_total = df['profit'].sum()
btb_profit = df['profit'].tail(1)

NameError: name 'y_pred' is not defined

In [ ]:
import sqlite3
import pandas as pd

path = "../data/"  #Insert path here
database = path + "database.sqlite"
conn = sqlite3.connect(database)

cursor = conn.cursor()
print(cursor.fetchall())

matches_df = pd.read_sql(
    '''
    SELECT id,league_id,season,stage,home_team_api_id,away_team_api_id,goal,shoton,shotoff,foulcommit,card,cross,corner,possession
    FROM Match m
    WHERE league_id == 1729
    AND season == '2015/2016'
    ORDER BY stage ASC
    ''', conn)

matches_df.head(100)

In [ ]:
#matches_df['home_goals']= matches_df.groupby('home_team_api_id')['home_team_goal'].cumsum().fillna(0)

In [ ]:
#matches_df['away_goals']= matches_df.groupby('home_team_api_id')['away_team_goal'].cumsum().fillna(0)

In [ ]:
#matches_df.head(3)

In [ ]:
matches_df['shoton'][0]

In [ ]:
from xml.etree.ElementTree import XML, fromstring
myxml = fromstring(matches_df['shoton'][0])

### Variables to consider

1. Home Team Total Wins	
2. Home Team Home wins	
3. Home Team Total Losses	
4. Home Team Home losses	
5. Away Team Rank	
6. Away Team Total Wins	
7. Away Team Away wins	
8. Away Team Total Losses	
9. Away Team Away Losses	
10. Home Team Total Goals	
11. Home Team Home Goals	
12. Home Team Total Goals allowed	
13. Home Team Home Goals Allowed	
14. Away Team Total Goals	
15. Away Team Away Goals	
16. Away Team Total Goals Allowed	
17. Away Team Away Goals Allowed	
18. Home Team Win y/n

### home / draw / away

In [ ]:
matches_df['home']=0
matches_df['away']=0
matches_df['home_draw']=0
#matches_df['away_draw']=0

matches_df.loc[matches_df['home_team_goal'] > matches_df['away_team_goal'],'home']=1
matches_df.loc[matches_df['home_team_goal'] < matches_df['away_team_goal'],'away']=1
matches_df.loc[matches_df['home_team_goal'] == matches_df['away_team_goal'],'home_draw']=1
#matches_df.loc[matches_df['home_team_goal'] == matches_df['away_team_goal'],'away_draw']=1

In [ ]:
matches_df.head(5)

In [ ]:
matches_df['lowest_odds']=0
matches_df['highest_odds']=0
matches_df['draw_only']=0
matches_df['home_only']=0
matches_df['away_only']=0

In [ ]:
matches_df.head(5)

In [ ]:
matches_df['min_profit']=-10

### Lowest Odds

In [ ]:
matches_df.loc[(matches_df[['LBH','LBD','LBA']].min(axis=1) == matches_df['LBH']) & (matches_df['home'] == 1), 'min_profit'] = matches_df['LBH']*10 
matches_df.loc[(matches_df[['LBH','LBD','LBA']].min(axis=1) == matches_df['LBA']) & (matches_df['away'] == 1), 'min_profit'] = matches_df['LBA']*10 
matches_df.loc[(matches_df[['LBH','LBD','LBA']].min(axis=1) == matches_df['LBD']) & (matches_df['home_draw'] == 1), 'min_profit'] = matches_df['LBD']*10

In [ ]:
matches_df['min_profit_cum']= matches_df['min_profit'].cumsum().fillna(0)

In [ ]:
matches_df.tail(10)

### Highest Odds

In [ ]:
matches_df['max_profit']=-10

In [ ]:
matches_df.loc[(matches_df[['LBH','LBD','LBA']].max(axis=1) == matches_df['LBH']) & (matches_df['home'] == 1), 'max_profit'] = matches_df['LBH']*10
matches_df.loc[(matches_df[['LBH','LBD','LBA']].max(axis=1) == matches_df['LBA']) & (matches_df['away'] == 1), 'max_profit'] = matches_df['LBA']*10
matches_df.loc[(matches_df[['LBH','LBD','LBA']].max(axis=1) == matches_df['LBD']) & (matches_df['home_draw'] == 1), 'max_profit'] = matches_df['LBD']*10

In [ ]:
matches_df['max_profit_cum']= matches_df['max_profit'].cumsum().fillna(0)

In [ ]:
matches_df.head(200)

### Draw / Home / Away Only

In [ ]:
matches_df['draw_profit']=-10

In [ ]:
matches_df.loc[(matches_df['home_draw'] == 1), 'draw_profit'] = matches_df['LBD']*10

In [ ]:
matches_df['draw_profit_cum']= matches_df['draw_profit'].cumsum().fillna(0)

In [ ]:
matches_df['home_profit']=-10

In [ ]:
matches_df.loc[(matches_df['home'] == 1), 'home_profit'] = matches_df['LBH']*10

In [ ]:
matches_df['home_profit_cum']= matches_df['home_profit'].cumsum().fillna(0)

In [ ]:
matches_df['away_profit']=-10

In [ ]:
matches_df.loc[(matches_df['away'] == 1), 'away_profit'] = matches_df['LBA']*10

In [ ]:
matches_df['away_profit_cum']= matches_df['away_profit'].cumsum().fillna(0)

In [ ]:
matches_df.tail(5)

In [ ]:
"""matches_df['home_wins_cum']=matches_df.groupby('home_team_api_id')['home'].cumsum()
matches_df['away_wins_cum']=matches_df.groupby('home_team_api_id')['away'].cumsum()
matches_df['home_draw_cum']=matches_df.groupby('home_team_api_id')['home_draw'].cumsum()
#matches_df['away_draw_cum']=matches_df.groupby('away_team_api_id')['away_draw'].cumsum()
"""

In [ ]:
"""matches_df.groupby('stage').head(20)"""