# Data Exploration

In [1]:
import sqlite3
import pandas as pd

path = "../data/"  #Insert path here
database = path + "database.sqlite"
conn = sqlite3.connect(database)

cursor = conn.cursor()
print(cursor.fetchall())

matches_df = pd.read_sql(
    '''
    SELECT id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,LBD,LBA
    FROM Match m
    WHERE league_id == 1729
    AND season == '2015/2016'
    ORDER BY stage ASC
    ''', conn)

matches_df.head(5)

[]

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,LBD,LBA
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,1.29,5.5,12.0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,2.05,3.3,4.0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,1.40,4.5,10.0
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,1.75,3.8,5.0
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,2.00,3.4,4.2

In [2]:
#matches_df['home_goals']= matches_df.groupby('home_team_api_id')['home_team_goal'].cumsum().fillna(0)

In [3]:
#matches_df['away_goals']= matches_df.groupby('home_team_api_id')['away_team_goal'].cumsum().fillna(0)

In [4]:
#matches_df.head(3)

### Variables to consider

1. Home Team Total Wins	
2. Home Team Home wins	
3. Home Team Total Losses	
4. Home Team Home losses	
5. Away Team Rank	
6. Away Team Total Wins	
7. Away Team Away wins	
8. Away Team Total Losses	
9. Away Team Away Losses	
10. Home Team Total Goals	
11. Home Team Home Goals	
12. Home Team Total Goals allowed	
13. Home Team Home Goals Allowed	
14. Away Team Total Goals	
15. Away Team Away Goals	
16. Away Team Total Goals Allowed	
17. Away Team Away Goals Allowed	
18. Home Team Win y/n

### home / draw / away

In [5]:
matches_df['home']=0
matches_df['away']=0
matches_df['home_draw']=0
#matches_df['away_draw']=0

matches_df.loc[matches_df['home_team_goal'] > matches_df['away_team_goal'],'home']=1
matches_df.loc[matches_df['home_team_goal'] < matches_df['away_team_goal'],'away']=1
matches_df.loc[matches_df['home_team_goal'] == matches_df['away_team_goal'],'home_draw']=1
#matches_df.loc[matches_df['home_team_goal'] == matches_df['away_team_goal'],'away_draw']=1

In [6]:
matches_df.head(5)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,LBD,LBA,home,away,home_draw
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,1.29,5.5,12.0,0,1,0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,2.05,3.3,4.0,0,1,0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,1.40,4.5,10.0,0,0,1
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,1.75,3.8,5.0,0,0,1
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,2.00,3.4,4.2,1,0,0

In [7]:
matches_df['lowest_odds']=0
matches_df['highest_odds']=0
matches_df['draw_only']=0
matches_df['home_only']=0
matches_df['away_only']=0

In [8]:
matches_df.head(5)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,LBD,LBA,home,away,home_draw,lowest_odds,highest_odds,draw_only,home_only,away_only
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,1.29,5.5,12.0,0,1,0,0,0,0,0,0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,2.05,3.3,4.0,0,1,0,0,0,0,0,0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,1.40,4.5,10.0,0,0,1,0,0,0,0,0
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,1.75,3.8,5.0,0,0,1,0,0,0,0,0
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,2.00,3.4,4.2,1,0,0,0,0,0,0,0

In [9]:
matches_df['min_profit']=-10

### Lowest Odds

In [10]:
matches_df.loc[(matches_df[['LBH','LBD','LBA']].min(axis=1) == matches_df['LBH']) & (matches_df['home'] == 1), 'min_profit'] = matches_df['LBH']*10 
matches_df.loc[(matches_df[['LBH','LBD','LBA']].min(axis=1) == matches_df['LBA']) & (matches_df['away'] == 1), 'min_profit'] = matches_df['LBA']*10 
matches_df.loc[(matches_df[['LBH','LBD','LBA']].min(axis=1) == matches_df['LBD']) & (matches_df['home_draw'] == 1), 'min_profit'] = matches_df['LBD']*10

In [11]:
matches_df['min_profit_cum']= matches_df['min_profit'].cumsum().fillna(0)

In [12]:
matches_df.head(10)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,...,home,away,home_draw,lowest_odds,highest_odds,draw_only,home_only,away_only,min_profit,min_profit_cum
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,1.29,...,0,1,0,0,0,0,0,0,-10.0,-10.0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,2.05,...,0,1,0,0,0,0,0,0,-10.0,-20.0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,1.40,...,0,0,1,0,0,0,0,0,-10.0,-30.0
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,1.75,...,0,0,1,0,0,0,0,0,-10.0,-40.0
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,2.00,...,1,0,0,0,0,0,0,0,20.0,-20.0
5,4394,1729,2015/2016,1,1987037,10260,8586,1,0,1.67,...,1,0,0,0,0,0,0,0,16.7,-3.3
6,4395,1729,2015/2016,1,1987038,10261,8466,2,2,2.88,...,0,0,1,0,0,0,0,0,-10.0,-13.3
7,4396,1729,2015/2016,1,1987039,9850,9826,1,3,2.62,...,0,1,0,0,0,0,0,0,-10.0,-23.3
8,4397,1729,2015/2016,1,1987040,10194,8650,0,1,3.40,...,0,1,0,0,0,0,0,0,23.0,-0.3
9,4398,1729,2015/2016,1,1987041,8659,8456,0,3,5.50,...,0,1,0,0,0,0,0,0,16.7,16.4

### Highest Odds

In [13]:
matches_df['max_profit']=-10

In [14]:
matches_df.loc[(matches_df[['LBH','LBD','LBA']].max(axis=1) == matches_df['LBH']) & (matches_df['home'] == 1), 'max_profit'] = matches_df['LBH']*10
matches_df.loc[(matches_df[['LBH','LBD','LBA']].max(axis=1) == matches_df['LBA']) & (matches_df['away'] == 1), 'max_profit'] = matches_df['LBA']*10
matches_df.loc[(matches_df[['LBH','LBD','LBA']].max(axis=1) == matches_df['LBD']) & (matches_df['home_draw'] == 1), 'max_profit'] = matches_df['LBD']*10

In [15]:
matches_df['max_profit_cum']= matches_df['max_profit'].cumsum().fillna(0)

In [38]:
matches_df.head(200)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,...,min_profit,min_profit_cum,max_profit,max_profit_cum,draw_profit,draw_profit_cum,home_profit,home_profit_cum,away_profit,away_profit_cum
0,4389,1729,2015/2016,1,1987032,9825,8654,0,2,1.29,...,-10.0,-10.0,120.0,120.0,-10.0,-10.0,-10.0,-10.0,120.0,120.0
1,4390,1729,2015/2016,1,1987033,8678,10252,0,1,2.05,...,-10.0,-20.0,40.0,160.0,-10.0,-20.0,-10.0,-20.0,40.0,160.0
2,4391,1729,2015/2016,1,1987034,8455,10003,2,2,1.40,...,-10.0,-30.0,-10.0,150.0,45.0,25.0,-10.0,-30.0,-10.0,150.0
3,4392,1729,2015/2016,1,1987035,8668,9817,2,2,1.75,...,-10.0,-40.0,-10.0,140.0,38.0,63.0,-10.0,-40.0,-10.0,140.0
4,4393,1729,2015/2016,1,1987036,8197,8472,4,2,2.00,...,20.0,-20.0,-10.0,130.0,-10.0,53.0,20.0,-20.0,-10.0,130.0
5,4394,1729,2015/2016,1,1987037,10260,8586,1,0,1.67,...,16.7,-3.3,-10.0,120.0,-10.0,43.0,16.7,-3.3,-10.0,120.0
6,4395,1729,2015/2016,1,1987038,10261,8466,2,2,2.88,...,-10.0,-13.3,33.0,153.0,33.0,76.0,-10.0,-13.3,-10.0,110.0
7,4396,1729,2015/2016,1,1987039,9850,9826,1,3,2.62,...,-10.0,-23.3,-10.0,143.0,-10.0,66.0,-10.0,-23.3,29.0,139.0
8,4397,1729,2015/2016,1,1987040,10194,8650,0,1,3.40,...,23.0,-0.3,-10.0,133.0,-10.0,56.0,-10.0,-33.3,23.0,162.0
9,4398,1729,2015/2016,1,1987041,8659,8456,0,3,5.50,...,16.7,16.4,-10.0,123.0,-10.0,46.0,-10.0,-43.3,16.7,178.7
10,4499,1729,2015/2016,2,1987078,10252,10260,0,1,5.50,...,17.3,33.7,-10.0,113.0,-10.0,36.0,-10.0,-53.3,17.3,196.0
11,4500,1729,2015/2016,2,1987079,9826,9825,1,2,5.00,...,17.5,51.2,-10.0,103.0,-10.0,26.0,-10.0,-63.3,17.5,213.5
12,4501,1729,2015/2016,2,1987080,8650,8678,1,0,1.45,...,14.5,65.7,-10.0,93.0,-10.0,16.0,14.5,-48.8,-10.0,203.5
13,4502,1729,2015/2016,2,1987081,8456,8455,3,0,2.10,...,21.0,86.7,-10.0,83.0,-10.0,6.0,21.0,-27.8,-10.0,193.5
14,4503,1729,2015/2016,2,1987082,8466,8668,0,3,2.00,...,-10.0,76.7,43.3,126.3,-10.0,-4.0,-10.0,-37.8,43.3,236.8
15,4504,1729,2015/2016,2,1987083,8472,9850,1,3,2.40,...,-10.0,66.7,-10.0,116.3,-10.0,-14.0,-10.0,-47.8,31.0,267.8
16,4505,1729,2015/2016,2,1987084,10003,10261,2,0,1.95,...,19.5,86.2,-10.0,106.3,-10.0,-24.0,19.5,-28.3,-10.0,257.8
17,4506,1729,2015/2016,2,1987085,8586,10194,2,2,1.80,...,-10.0,76.2,-10.0,96.3,37.5,13.5,-10.0,-38.3,-10.0,247.8
18,4507,1729,2015/2016,2,1987086,9817,8659,0,0,2.30,...,-10.0,66.2,34.0,130.3,34.0,47.5,-10.0,-48.3,-10.0,237.8
19,4508,1729,2015/2016,2,1987087,8654,8197,1,2,2.25,...,-10.0,56.2,-10.0,120.3,-10.0,37.5,-10.0,-58.3,33.0,270.8
20,4609,1729,2015/2016,3,1988730,9825,8650,0,0,1.75,...,-10.0,46.2,-10.0,110.3,37.5,75.0,-10.0,-68.3,-10.0,260.8
21,4610,1729,2015/2016,3,1988731,9826,10252,2,1,1.85,...,18.5,64.7,-10.0,100.3,-10.0,65.0,18.5,-49.8,-10.0,250.8
22,4611,1729,2015/2016,3,1988732,8668,8456,0,2,5.00,...,17.3,82.0,-10.0,90.3,-10.0,55.0,-10.0,-59.8,17.3,268.1
23,4612,1729,2015/2016,3,1988733,8197,8586,1,1,2.70,...,-10.0,72.0,34.0,124.3,34.0,89.0,-10.0,-69.8,-10.0,258.1
24,4613,1729,2015/2016,3,1988734,10260,10261,0,0,1.36,...,-10.0,62.0,-10.0,114.3,50.0,139.0,-10.0,-79.8,-10.0,248.1
25,4614,1729,2015/2016,3,1988735,9850,10194,1,1,2.40,...,-10.0,52.0,33.0,147.3,33.0,172.0,-10.0,-89.8,-10.0,238.1
26,4615,1729,2015/2016,3,1988736,8472,10003,1,1,4.00,...,-10.0,42.0,-10.0,137.3,32.5,204.5,-10.0,-99.8,-10.0,228.1
27,4616,1729,2015/2016,3,1988737,9817,8466,0,0,2.75,...,-10.0,32.0,33.0,170.3,33.0,237.5,-10.0,-109.8,-10.0,218.1
28,4617,1729,2015/2016,3,1988738,8659,8455,2,3,6.00,...,16.7,48.7,-10.0,160.3,-10.0,227.5,-10.0,-119.8,16.7,234.8
29,4618,1729,2015/2016,3,1988739,8654,8678,3,4,2.38,...,-10.0,38.7,-10.0,150.3,-10.0,217.5,-10.0,-129.8,32.0,266.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,4479,1729,2015/2016,18,1988880,10252,8654,1,1,2.60,...,-10.0,429.2,31.0,1251.3,31.0,535.1,-10.0,342.2,-10.0,1114.5
171,4480,1729,2015/2016,18,1988881,8678,9826,0,0,2.30,...,-10.0,419.2,33.0,1284.3,33.0,568.1,-10.0,332.2,-10.0,1104.5
172,4481,1729,2015/2016,18,1988882,8455,9817,2,2,1.48,...,-10.0,409.2,-10.0,1274.3,42.0,610.1,-10.0,322.2,-10.0,1094.5
173,4482,1729,2015/2016,18,1988883,8650,8197,1,0,1.91,...,19.1,428.3,-10.0,1264.3,-10.0,600.1,19.1,341.3,-10.0,1084.5
174,4483,1729,2015/2016,18,1988884,8456,8472,4,1,1.20,...,12.0,440.3,-10.0,1254.3,-10.0,590.1,12.0,353.3,-10.0,1074.5
175,4484,1729,2015/2016,18,1988885,10261,8668,0,1,3.10,...,21.5,461.8,-10.0,1244.3,-10.0,580.1,-10.0,343.3,21.5,1096.0
176,4485,1729,2015/2016,18,1988886,8466,9825,4,0,3.40,...,-10.0,451.8,34.0,1278.3,-10.0,570.1,34.0,377.3,-10.0,1086.0
177,4486,1729,2015/2016,18,1988887,10194,10260,2,0,3.20,...,-10.0,441.8,32.0,1310.3,-10.0,560.1,32.0,409.3,-10.0,1076.0
178,4487,1729,2015/2016,18,1988888,10003,8659,1,0,1.91,...,19.1,460.9,-10.0,1300.3,-10.0,550.1,19.1,428.4,-10.0,1066.0
179,4488,1729,2015/2016,18,1988889,8586,9850,3,0,1.40,...,14.0,474.9,-10.0,1290.3,-10.0,540.1,14.0,442.4,-10.0,1056.0
180,4489,1729,2015/2016,19,1988890,9825,8678,2,0,1.40,...,14.0,488.9,-10.0,1280.3,-10.0,530.1,14.0,456.4,-10.0,1046.0
181,4490,1729,2015/2016,19,1988891,9826,10003,0,0,2.05,...,-10.0,478.9,-10.0,1270.3,32.5,562.6,-10.0,446.4,-10.0,1036.0
182,4491,1729,2015/2016,19,1988892,8668,10194,3,4,1.91,...,-10.0,468.9,40.0,1310.3,-10.0,552.6,-10.0,436.4,40.0,1076.0
183,4492,1729,2015/2016,19,1988893,8197,8456,0,0,4.00,...,-10.0,458.9,-10.0,1300.3,38.0,590.6,-10.0,426.4,-10.0,1066.0
184,4493,1729,2015/2016,19,1988894,10260,8455,0,0,2.50,...,-10.0,448.9,31.0,1331.3,31.0,621.6,-10.0,416.4,-10.0,1056.0
185,4494,1729,2015/2016,19,1988895,9850,10252,2,0,2.00,...,20.0,468.9,-10.0,1321.3,-10.0,611.6,20.0,436.4,-10.0,1046.0
186,4495,1729,2015/2016,19,1988896,8472,8650,0,1,5.00,...,16.7,485.6,-10.0,1311.3,-10.0,601.6,-10.0,426.4,16.7,1062.7
187,4496,1729,2015/2016,19,1988897,9817,8586,1,2,3.60,...,20.5,506.1,-10.0,1301.3,-10.0,591.6,-10.0,416.4,20.5,1083.2
188,4497,1729,2015/2016,19,1988898,8659,10261,1,0,2.10,...,21.0,527.1,-10.0,1291.3,-10.0,581.6,21.0,437.4,-10.0,1073.2
189,4498,1729,2015/2016,19,1988899,8654,8466,2,1,3.30,...,-10.0,517.1,33.0,1324.3,-10.0,571.6,33.0,470.4,-10.0,1063.2
190,4509,1729,2015/2016,20,1988900,9825,10261,1,0,1.25,...,12.5,529.6,-10.0,1314.3,-10.0,561.6,12.5,482.9,-10.0,1053.2
191,4510,1729,2015/2016,20,1988901,9826,8455,0,3,3.80,...,20.0,549.6,-10.0,1304.3,-10.0,551.6,-10.0,472.9,20.0,1073.2
192,4511,1729,2015/2016,20,1988902,8668,8586,1,1,2.62,...,-10.0,539.6,34.0,1338.3,34.0,585.6,-10.0,462.9,-10.0,1063.2
193,4512,1729,2015/2016,20,1988903,8197,8678,0,0,1.85,...,-10.0,529.6,-10.0,1328.3,36.0,621.6,-10.0,452.9,-10.0,1053.2
194,4513,1729,2015/2016,20,1988904,10260,10003,2,1,1.53,...,15.3,544.9,-10.0,1318.3,-10.0,611.6,15.3,468.2,-10.0,1043.2
195,4514,1729,2015/2016,20,1988905,9850,8466,1,0,3.00,...,-10.0,534.9,-10.0,1308.3,-10.0,601.6,30.0,498.2,-10.0,1033.2
196,4515,1729,2015/2016,20,1988906,8472,10252,3,1,2.40,...,24.0,558.9,-10.0,1298.3,-10.0,591.6,24.0,522.2,-10.0,1023.2
197,4516,1729,2015/2016,20,1988907,9817,8456,1,2,4.75,...,17.0,575.9,-10.0,1288.3,-10.0,581.6,-10.0,512.2,17.0,1040.2
198,4517,1729,2015/2016,20,1988908,8659,10194,2,1,2.70,...,27.0,602.9,-10.0,1278.3,-10.0,571.6,27.0,539.2,-10.0,1030.2
199,4518,1729,2015/2016,20,1988909,8654,8650,2,0,3.80,...,-10.0,592.9,38.0,1316.3,-10.0,561.6,38.0,577.2,-10.0,1020.2

### Draw / Home / Away Only

In [31]:
matches_df['draw_profit']=-10

In [32]:
matches_df.loc[(matches_df['home_draw'] == 1), 'draw_profit'] = matches_df['LBD']*10

In [35]:
matches_df['draw_profit_cum']= matches_df['draw_profit'].cumsum().fillna(0)

In [36]:
matches_df['home_profit']=-10

In [37]:
matches_df.loc[(matches_df['home'] == 1), 'home_profit'] = matches_df['LBH']*10

In [22]:
matches_df['home_profit_cum']= matches_df['home_profit'].cumsum().fillna(0)

In [23]:
matches_df['away_profit']=-10

In [24]:
matches_df.loc[(matches_df['away'] == 1), 'away_profit'] = matches_df['LBA']*10

In [25]:
matches_df['away_profit_cum']= matches_df['away_profit'].cumsum().fillna(0)

In [34]:
matches_df.tail(5)

,id,league_id,season,stage,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,LBH,...,min_profit,min_profit_cum,max_profit,max_profit_cum,draw_profit,draw_profit_cum,home_profit,home_profit_cum,away_profit,away_profit_cum
375,4704,1729,2015/2016,38,1987602,8466,9826,4,1,1.33,...,13.3,1464.7,-10.0,1693.6,-10.0,1021.0,-10,1151.6,-10.0,1392.9
376,4705,1729,2015/2016,38,1987603,10194,8654,2,1,3.40,...,-10.0,1454.7,-10.0,1683.6,-10.0,1011.0,-10,1185.6,-10.0,1382.9
377,4706,1729,2015/2016,38,1987604,10003,8456,1,1,6.50,...,-10.0,1444.7,-10.0,1673.6,43.3,1054.3,-10,1175.6,-10.0,1372.9
378,4707,1729,2015/2016,38,1987605,9817,8472,2,2,2.05,...,-10.0,1434.7,37.5,1711.1,37.5,1091.8,-10,1165.6,-10.0,1362.9
379,4708,1729,2015/2016,38,1987606,8659,8650,1,1,2.40,...,-10.0,1424.7,36.0,1747.1,36.0,1127.8,-10,1155.6,-10.0,1352.9

In [27]:
"""matches_df['home_wins_cum']=matches_df.groupby('home_team_api_id')['home'].cumsum()
matches_df['away_wins_cum']=matches_df.groupby('home_team_api_id')['away'].cumsum()
matches_df['home_draw_cum']=matches_df.groupby('home_team_api_id')['home_draw'].cumsum()
#matches_df['away_draw_cum']=matches_df.groupby('away_team_api_id')['away_draw'].cumsum()
"""

"matches_df['home_wins_cum']=matches_df.groupby('home_team_api_id')['home'].cumsum()\nmatches_df['away_wins_cum']=matches_df.groupby('home_team_api_id')['away'].cumsum()\nmatches_df['home_draw_cum']=matches_df.groupby('home_team_api_id')['home_draw'].cumsum()\n#matches_df['away_draw_cum']=matches_df.groupby('away_team_api_id')['away_draw'].cumsum()\n"

In [28]:
"""matches_df.groupby('stage').head(20)"""

"matches_df.groupby('stage').head(20)"